[2014-04-05 20:31] romikoops opened #3 "Impossible to install gem because of missing dependency 'multimap'"
I am trying to install the gem on Mac and Ubuntu but without success. Multimap is yanked on rubygems.org.

[code]

[2014-04-15 18:37] #3 closed, assigned to nobody

[2014-04-15 21:37] romikoops opened #5 "Possible error in code"
https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun.rb#L87

Should be that @http_client instead?

[2014-05-09 20:57] #5 closed, assigned to nobody

[2014-07-02 08:12] porbas opened #8 "Wrong communication error handling"
From time to time there is connection error to mailgun service which is not properly handled.

[code]

I'll try to provide pull request soon

[2014-07-09 17:17] davidbalbert opened #12 "Batch sending adds everyone to the To field"
# The bug

When you batch send a message with the mailgun-ruby gem, using the `Mailgun::BatchMessage` class, every recipient sees themselves and all the other recipients in the To field.
# How to reproduce

I used this code. I'm using rails, so Action Mailer is responsible for rendering the message:

[code]

The only difference from https://github.com/mailgun/mailgun-ruby/blob/master/Messages.md i

[2014-08-09 17:50] Paxa opened #14 "Easy rails integration"
Would be nice to see easy rails integration
Something like this: https://github.com/Paxa/mailgun-rails

Any plans to implement it?

[2014-09-16 17:38] #8 closed, assigned to nobody

[2014-09-22 07:44] iffyuva opened #15 "digest/hmac removed in ruby 2.2.0-preview1"
so, im running into this issue:

[code]

looks like `digest/hmac` is removed from ruby-2.2.0-preview1: https://github.com/ruby/ruby/commit/24be1f1

[2014-09-26 19:58] nneal opened #17 "Trouble with "count" parameter"
I am trying to get counts of certain events.

I am using the following

[code]

However, I'm getting the error:

[code]

I tried a few other variations, but could not get anything to work. I am referencing the docs here: http://documentation.mailgun.com/api-campaigns.html#events which I believe should allow for the `count` param that I'm using. If I remove "count", the request will go through, but

[2014-10-06 22:57] #15 closed, assigned to nobody

[2014-10-20 21:39] mide opened #22 "Merge Fields not Working"
I'm trying to send emails through the mailgun-ruby gem, and it doesn't seem to be merging the fields when sent.

I've been able to reproduce the problem with the following code:

[code]

Each recipient is getting the non-merged emails with all recipients in the "to" address.

[2014-10-30 20:57] michaelrkn opened #24 "Test mode?"
Hey there! Really loving the new Mailgun gem - thanks for the good work.

One thing that I'm running into in my testing is that it's annoying to stub Mailgun out every time I hit an action in my app that sends an email. It would be awesome to be able to do something like

[code]

in my `spec_helper.rb` that would then cause all the client to not actually make requests to Mailgun.

I was thinking a

[2014-11-14 07:55] tillvollmer opened #26 "Error handling if queue is full"
Right now if the mailgun queue is full (500k emails) you will get an error back.
Error handling should cover this, by either retrying after waiting some seconds or issue an error that says "you may retry in a couple of seconds".
This may even happen on a single email (without batch).

When you use the API for ActionMailer this is even worse as emails are just not sent.

[2014-11-20 22:48] #22 closed, assigned to nobody

[2015-01-13 20:24] JosephCastro opened #30 "Error installing gem"
I get this, when I trying to install through gem install

[code]

[2015-01-17 06:24] nathanbrauer opened #31 "`set_delivery_time': wrong number of arguments (2 for 1)"
The docs (`MessageBuilder.md` and `Messages.md`) say you're supposed to use this syntax: `mb_obj.set_delivery_time("tomorrow 8:00AM", "PST");`

But the actual def in `message_builder.rb` only includes one parameter: `def set_delivery_time(timestamp)` and the unit test only tests for one parameter as well.

(I'd issue a pull request, but I'm not familiar enough with Ruby to contribute confidently.)

[2015-01-17 06:25] nathanbrauer commented on #31
See related files:
https://github.com/mailgun/mailgun-ruby/search?utf8=%E2%9C%93&q=set_delivery_time

[2015-01-23 14:59] ShadySQL commented on #30
Same problem like me - any suggestions?

[2015-01-23 17:41] JosephCastro commented on #30
I installing follow this: http://stackoverflow.com/questions/7645918/require-no-such-file-to-load-mkmf-loaderror

[2015-02-05 19:01] nathanbrauer commented on #30
Same problem here.

[2015-02-05 19:14] nathanbrauer commented on #30
Is there a way to make it so the `-dev` package isn't required?

[2015-02-17 19:39] jtoy opened #32 "should be able to send nil like every other ruby library"
[code]

if params[:bcc] is  nil, the message wont send, the errror being:
Mailgun::CommunicationError: 400 Bad Request

  in ruby, sending nil usually means ignore/skip.

[2015-06-09 00:01] larryprice opened #37 "Snippets.md contains incorrect syntax for MessageBuilder"
Running the following lines will cause an error:

[code]

That's because `set_from_address` should not contain a `:from` argument. Same goes for `:subject` and `:text`, and for the subsequent `BatchMessage` lines.

PR to follow.

[2015-06-30 01:17] clhammer opened #40 "Reply-To contains extra characters"
When setting the Reply-To with message builder extra characters are applied to the header:

[code]

You end up with:

[code]

This breaks setting a Reply-To as it is not honored by any providers.

[2015-07-03 00:58] clhammer opened #42 "Sending raw MIME does not work"
When specifying the :message parameter it should write the string passed in this parameter to a file then submit that temp file to the messages.mime endpoint.

https://github.com/mailgun/mailgun-ruby/blob/1cb8b87a68a2d82db544bde7af388a61e3e70059/lib/mailgun.rb#L42-L58

Most of this works correctly, however no matter what you pass in the :message parameter it is not converted to the file correctly,

[2015-07-03 01:17] Easy-D commented on #42
I think a ```file.rewind```after the write (https://github.com/mailgun/mailgun-ruby/blob/1cb8b87a68a2d82db544bde7af388a61e3e70059/lib/mailgun.rb#L139) will fix this.

[2015-07-25 01:30] Mileshosky opened #44 "POST to "lists" returns 400 Bad Request"
https://github.com/mailgun/mailgun-ruby/blob/1cb8b87a68a2d82db544bde7af388a61e3e70059/spec/integration/mailgun_spec.rb#L470-L473

While trying to make a POST to lists, I receive a 400 Bad Request error.  I have tried running the above code straight from your spec and it fails as well.  I have other code that is making successful POST requests using the same API key as what is being used to create

[2015-07-25 02:27] Mileshosky commented on #44
The issue was creating a new list for an invalid domain.  Having server response messages bubble up would be an excellent user experience.

**Not useful**
`Mailgun::CommunicationError: 400 Bad Request`

**Useful**
`Mailgun::CommunicationError: 400 Bad Request:  Invalid domain some.domain.tld`

[2015-07-25 12:53] jturmel commented on #44
:+1:

[2015-08-27 00:36] hirowatari opened #45 "Reply to does not work using message builder"
[code]

should set the reply to.  That doesn't work, nor does:
`message_builder.add_custom_parameter('h:reply-to', 'test@example.com')
`
The issue here, is if an array of reply-to addresses is posted, then the reply to address does not get set (or at least does not seem to be in gmail).
I'd suggest that either:
(1) Complex_setter and simple_setter should not create arrays of size one.
(2) The Mail

[2015-10-12 02:51] hirowatari opened #46 "Might be wise to mark this as abandoned"
Given that this hasn't been updated in a year, isn't updated to the v3 API, and the maintainers aren't replying to PRs or issues, I think it would be wise to not give users the idea that this is being maintained.

Please correct me if this is being maintained in some capacity.

[2015-10-16 14:44] sixfeetover commented on #46
I'm trying to keep this moving forward over at [veracross/mailgun-ruby](https://github.com/veracross/mailgun-ruby), where my various PRs are merged (including using v3). I will also accept other PRs into my branch.

[2015-11-05 14:09] cpietsch82 opened #47 "Problem with generate_hash Method in OptInHandler"
Hi there,

i'm using the Opt-In Handler Method for the mailgun gem. My problem is, that the generated hash is too long, so i have problems to call the url in a mail from a web mail portal like www.web.de. Is there a possibility to manipulate the hash for the Opt In Validation ?

Best regards,
Christian

[2015-11-30 21:51] baburdick commented on #46
@sixfeetover: Where are you releasing gems for your fork? I don't see them on rubygems.org. Suggestion: call it veracross-mailgun-ruby.

[2015-12-02 13:55] sixfeetover commented on #46
I could do that. I haven't needed to so far as there have only been a few commits and I've just bundled it right from GitHub.

[2016-03-04 17:55] gimpporbust commented on #46
It looks like @dan-ding has a PR #49 that helps tackle some of the issues and unaddressed PRs. Maybe we can use that as a starting point to get this kickstarted again. I think #49 needs review, and at least broken up to address each fix separately. I'm not sure how I feel about having a commit message saying we bumped to api v3 (a 2-3 line fix) and in reality it hides many updates and not to menti

[2016-03-07 17:53] jrodom commented on #46
All,
I apologize that we haven't done a good job stewarding this, we're going to get dan's changes merged and will be doing a better job getting things moved through the process.

Josh

[2016-03-07 18:03] baburdick commented on #46
Glad to hear, @jrodom. It's always best when the vendor can manage their own public API modules. Looking forward to seeing mailgun-ruby active and progressing.

[2016-03-20 11:18] atinder opened #52 "Getting started with rails isn't easy"
I have tried 2 gems for mailgun. Because this one is official so I tried it first and no success delivering emails.
Then I tried https://github.com/jorgemanrubia/mailgun_rails success with 10 seconds.

Maybe docs need some update or its not that good with rails. ( Just my 2 cents )

[2016-03-23 00:30] dan-ding commented on #52
Can you provide more details to the issue?

[2016-03-23 03:03] atinder90 commented on #52
Tried this in my Gemfile
`gem 'mailgun-ruby', '~>1.0.5', require: 'mailgun'`
It didn't installed, tried following
`gem 'mailgun-ruby', '~>1.0.2', require: 'mailgun'`
It installed.

[code]
there are two api keys(private/public) in mailgun account, i **guess** above refers to the private key.

After this I can see ActionMailer is sending emails in the server logs but niether they are delivered nor I

[2016-03-24 14:58] lukebooth commented on #52
For `gem 'mailgun-ruby', '~>1.0.5', require: 'mailgun'` part of your troubles, that was a mistake. There actually isn't a version `1.0.5` (see #51).

I think the term "secret-key" implies your private key, but if that isn't clear, maybe we can modify the readme.

After adding _this_ gem, you'll actually be using the gem to send messages, not `ActionMailer`. With `mailgun_rails` gem, you set mailgu

[2016-04-20 09:08] Linuus commented on #24
@macmm Any updates? :innocent:

[2016-07-10 01:43] n-rodriguez opened #55 "Manage bounces"
It would be nice to manage bounces like : https://github.com/HashNuke/mailgun/blob/master/lib/mailgun/bounce.rb

[2016-07-21 11:28] CGA1123 opened #56 "Update rest-client dependency"
Bump rest-client to at least `1.8`

Known Security Issues:
[rest-client/rest-client#349](https://github.com/rest-client/rest-client/issues/349)
[rest-client/rest-client#369](https://github.com/rest-client/rest-client/issues/369)

[2016-08-31 19:54] PabloVallejo commented on #45
👍

[2016-09-02 13:37] lectricas opened #60 "Can't install mailgun gem"
C:\Users\lectricas\Documents\obed18-menu>bundle install
Fetching gem metadata from https://rubygems.org/
Fetching version metadata from https://rubygems.org/
Could not find gem 'mailgun-ruby (~> 1.0.5) x64-mingw32' in any of the gem
sources listed in your Gemfile or available on this machine.

C:\Users\lectricas\Documents\obed18-menu>]

[2016-09-04 21:17] cucho commented on #60
Same here. I just removed the version requirement and it installed v1.1.0

`gem 'mailgun-ruby', require: 'mailgun'`

[2016-09-05 05:59] lectricas commented on #60
gem 'mailgun-ruby', '1.1.0', require: 'mailgun'

solved the issue

[2016-09-26 07:34] solisoft commented on #60
It's KO for me

[code]

[2016-09-26 14:28] CGA1123 commented on #46
Is it in mailgun's plan to start maintaining this again?

If not, I think it would be at least sensible to remove the ruby part of the documentation, given that this library is no longer actively maintained, and the `rest-client` dependency is outdated.

[2016-10-08 22:08] Fustrate commented on #46
March 7th:

and no commits in the 7 months since.

Trying to find anyone active on Github who might be able to help: @horkhe @thrawn01

[2016-10-12 20:49] emirkin opened #61 "Error informativeness is abysmal"
Could you please make errors more informative?

On multiple occasions (with different reasons), I got:

[code]

This communication error is absolutely uninformative and there is nothing I can do with it except prying deep inside `rest-client` for possible clues.

[2016-10-31 21:57] #56 closed

[2016-10-31 22:09] pirogoeth commented on #37
Thanks for the PR! This has been fixed.

[2016-10-31 22:09] #37 closed

[2016-10-31 22:11] pirogoeth commented on #61
@emirkin Sorry for the wait -- what does your code where you're calling `send_message` look like?

[2016-10-31 22:12] pirogoeth commented on #60
Updating from this point forward should be less bad -- all following releases will follow semver.

[2016-10-31 22:12] #60 closed

[2016-11-01 15:28] rossmeissl commented on #46
Here's what Mailgun has to say:

[2016-11-01 15:30] jrodom commented on #46
We have someone working on this now @pirogoeth.  All open PRs have been merged or closed and @pirogoeth is working through all open issues.  We appreciate your patience with us on this!

[2016-11-01 15:31] #46 closed

[2016-11-02 17:39] pirogoeth commented on #61
I will be working on this today -- should hopefully have a fix out soon :)

[2016-11-02 17:40] pirogoeth commented on #44
This ties back to #61 which I will be trying to resolve today -- should hopefully have a patch out soon.

[2016-11-02 17:46] pirogoeth commented on #52
@atinder Are you still having this issue?

[2016-11-02 17:50] pirogoeth commented on #47
@cpietsch82 Are you still having this issue?

[2016-11-02 17:52] pirogoeth commented on #24
@michaelrkn @Linuus If you still want this feature, I could give it a go and submit a patch in a couple days. Are you still interested in this feature?

[2016-11-02 17:54] pirogoeth commented on #32
@jtoy Are you still having this issue?

[2016-11-02 18:24] michaelrkn commented on #24
@pirogoeth I'm not personally using the gem currently, but I bet the project I was working on would use the feature if it were available!

[2016-11-02 18:51] pirogoeth commented on #24
@michaelrkn Thanks for the feedback! I'll work on it when I get some time. :)

[2016-11-02 19:09] pirogoeth commented on #61
@emirkin Can you let me know if this patch works a little better for you? https://github.com/mailgun/mailgun-ruby/pull/65

[2016-11-02 19:10] pirogoeth commented on #44
@Mileshosky This PR should be a bit more informative for errors - https://github.com/mailgun/mailgun-ruby/pull/65

Does that work for you?

[2016-11-03 09:45] Linuus commented on #24
I'm not on a project that uses this library anymore either. The next time I am though, this feature would be very nice to have!

[2016-11-03 13:09] sixfeetover commented on #24
I would definitely be interested in this - currently my tests actually do send emails. Sometimes that's helpful to verify the output, but often it would be nice to be able to run tests in real time (e.g. with guard) without actually sending the emails all the time.

[2016-11-05 06:31] shaunak-amura commented on #40
Hello @clhammer ,
I had the same problem, this happens because when you use `add_custom_parameter` internally it uses the `complex_setter` method which adds the Reply-To address in an array.
So for handling Reply-To, I used the following code:
`email = Mailgun::MessageBuilder.new`
`email.message["h:Reply-To"] = 'test@domain.com'`

I hope this solves your problem. If you find a better solution, ple

[2016-11-06 13:50] atinder commented on #52
yes, actually I was looking for more of Rails friendly gem. mailgun_rails seems to be solving my problem.

[2016-11-07 14:42] cpietsch82 commented on #47
hi @pirogoeth , sorry for my late response.
Everything is fine now! Thanks

[2016-11-07 16:04] pirogoeth commented on #47
@cpietsch82 No worries! Thanks for the response!

[2016-11-07 16:04] #47 closed

[2016-11-07 23:05] pirogoeth commented on #24
I'm going to start this out with just blocking email sending during test mode and we can move forward to other chunks of the API that we would want to stub out :)

[2016-11-09 19:45] #61 closed

[2016-11-09 19:45] #44 closed

[2016-11-09 19:49] pirogoeth commented on #30
I believe this was fixed a while back - as far as I know, nobody is seeing this issue with newer versions. If I'm wrong, feel free to re-open this ticket :)

[2016-11-09 19:49] #30 closed

[2016-11-09 19:58] pirogoeth commented on #24
Fulfilled! #66

[2016-11-09 19:58] #24 closed

[2016-11-14 18:54] pirogoeth commented on #52
Alright, glad you found something that works for you! I'll try to make this library more Rails friendly. Thanks for the comments!

[2016-11-14 18:54] #52 closed

[2016-11-14 18:56] pirogoeth commented on #31
Looks like this was fixed a while back. Thanks for submitting an issue!

[2016-11-14 18:56] #31 closed

[2016-11-14 18:59] pirogoeth commented on #14
I know this issue has been open for a bit -- I'm going to try to make Rails integration with this library a little less painful.

[2016-11-14 19:01] pirogoeth commented on #52
Going to use #14 in place of this issue.

[2016-11-14 21:52] pirogoeth commented on #17
Was this solved?

[2016-11-14 21:53] pirogoeth commented on #12
Has this been solved?

[2016-11-14 21:57] pirogoeth commented on #40
Does this still happen in the latest versions of the library?

[2016-11-15 00:50] pirogoeth commented on #45
I've got a solution for this in #68 - feel free to comment on my changes.

[2016-11-21 19:16] #45 closed

[2016-11-21 19:17] pirogoeth commented on #40
Fixed this in #68.

[2016-11-21 19:17] #40 closed

[2016-11-21 20:50] pirogoeth commented on #42
Looks like this was fixed in #43, but this issue also uncovered an issue with the snippet docs. All is good now. :)

[2016-11-21 20:50] #42 closed

[2016-11-28 19:10] pirogoeth commented on #26
I've talked with the team and we've decided that this is out of scope for the library. I will make sure that the library throws a distinguishable `QueueFullException` when this happens.

I will also make sure that the API for ActionMailer can handle a full queue when I get around to implementing it. Thanks for the report :)

[2016-11-28 19:11] #26 closed

[2016-11-30 20:56] #55 closed

[2016-12-02 20:10] brauliobo commented on #14
it is quite weird as the rails support is stated on the README, would be really useful to have this support!

[2016-12-02 20:24] brauliobo commented on #14
Both https://github.com/code-mancers/rails-mailgun and https://github.com/jorgemanrubia/mailgun_rails are returning `400 bad request`! rails support needed :stuck_out_tongue:

[2016-12-02 20:29] pirogoeth commented on #14
@brauliobo I will work on it today :)

[2016-12-03 00:32] pirogoeth commented on #17
This has been stale for a while, so I'm gonna close this issue. Feel free to re-open if this is still a problem.

[2016-12-03 00:32] #17 closed

[2016-12-05 13:37] brauliobo commented on #14
btw, https://github.com/code-mancers/rails-mailgun is buggy with html emails

[2016-12-05 14:59] pirogoeth commented on #14
ah okay, thanks! i'll check that out.

[2016-12-06 00:20] pirogoeth commented on #14
@brauliobo I have a working preliminary implementation of Rails support in mailgun-ruby (Railgun) which you can try out here if you want: https://github.com/mailgun/mailgun-ruby/pull/72

Please feel free to provide feedback! I will be continuing to improve it soon.

[2017-01-30 16:48] pirogoeth opened #74 "Railgun tests"
Add functional tests for the Railgun mailer...

[2017-01-31 20:47] 9mm commented on #12
Is this really not solved? This makes the entire feature useless. It looks like this gem isn't even maintained, come on guys. Thats what I am paying for. I send 5mm emails and I need to build all this shit by hand because THREE year old crazy issues never get fixed

[2017-02-07 19:54] mwpastore opened #76 "mailgun-ruby-1.1.3.gem does not match published SHA"
The mailgun-ruby-1.1.3.gem on rubygems.org is published with a SHA that does not match the SHA of the file. This could potentially indicate that the contents of the gem have been manipulated in some way.

[code]

[2017-02-07 21:07] pirogoeth commented on #76
@mwpastore Thank you for the report! I'll look in to this asap.

[2017-02-07 21:22] pixeltrix commented on #76
@pirogoeth the reason for the mismatch is that your Travis build tries to push the gem for every ruby version in your build matrix. 99 times out of 100 this doesn't cause a problem but looks like there might be a race condition in rubygems.org that two pushes at the same time will fail and the wrong build file gets put into the S3 bucket.

I'd suggest only pushing from one build to be on the safe

[2017-02-07 21:30] pirogoeth commented on #76
@pixeltrix I figured that's what it was. I'll fix it asap. Thanks!

[2017-02-07 21:32] #14 closed

[2017-02-07 21:33] mwpastore commented on #76
Thank you both!

[2017-02-07 21:34] dwradcliffe commented on #76
FYI I've replaced the .gem from the first gem push so the SHA for version 1.1.3 will match now. We're also going to look to fix the race condition.

[2017-02-08 02:26] pirogoeth commented on #76
@dwradcliffe Thanks!

[2017-02-09 19:48] Fjan opened #77 "MessageBuilder custom parameter adds spurious [ ]"
Adding a custom parameter according to the docs:
```mb_obj.add_custom_parameter('h:List-Unsubscribe',"<mailto:unsubscribe@mydomain.com>")```

Results in this header in the email:
```List-Unsubscribe[]: <mailto:unsubscribe@mydomain.com>```

The added [ ] appears with any custom header and any contents, so that would seem to be a bug.

[2017-02-10 03:36] pirogoeth commented on #77
@Fjan Thank you for the report! I will look in to this asap :)

[2017-02-11 03:37] slavingia opened #79 "Include example snippet for attachments"

[2017-02-15 20:32] timdorr opened #80 "Implement Railgun as a Railtie"
Thanks for adding the railgun stuff in the last version! Makes my life a lot easier.

One thing I missed initially was the need to include a `require 'railgun'` at the top of my production.rb. That's because the railgun stuff doesn't autoload, which makes sense in the case of a non-Rails project.

You could simply add a `require 'railgun' if defined?(Rails)` to your mailgun-ruby.rb file and call i

[2017-02-16 16:09] pirogoeth commented on #80
@timdorr Thanks! I will look in to this tomorrow :) feel free to work up a PR, if you'd like!

[2017-02-17 15:42] #80 closed

[2017-02-17 15:59] pirogoeth commented on #77
@Fjan Could you pull the code from #78 and check that it fixes your issue? Also, now you should be able to use `mb_obj.header 'List-Unsubscribe', '<mailto:unsubscribe@mydomain.com>'` instead of `add_custom_parameter`.

[2017-02-17 20:22] Fjan commented on #77
Thanks @pirogoeth, but I was pressed for time so I rewrote my script to use the SMTP interface and did it that way, it's going to be a little while before I need to send out another newsletter.

[2017-02-17 21:09] pirogoeth commented on #77
@Fjan Sorry about that! I've done testing from my end and everything looks okay so I'm gonna close this issue, but feel free to re-open this issue if you still have problems with it!

[2017-02-17 21:09] #77 closed

[2017-02-17 22:17] pirogoeth commented on #79
Added in #78

[2017-02-17 22:17] #79 closed

[2017-02-17 22:18] pirogoeth commented on #76
This is fixed in the deploy changes from #78

[2017-02-17 22:18] #76 closed

[2017-02-17 22:33] pirogoeth commented on #12
Using this code, it appears that batch mailing with recipient variables works as expected without adding everyone in the `To` field.

[code]

[2017-02-17 22:33] #12 closed

[2017-02-17 23:25] pirogoeth commented on #32
So while the usual convention in Ruby is for nil to be ignored in parameters, that is not the case here. Instead of getting a `400 Bad Request` back, which is quite ambiguous, send_message will now raise a `ParameterError` and dump the hash, allowing you to see which was set of values are nil.

[2017-02-17 23:25] #32 closed

[2017-02-21 21:32] rmcsharry opened #82 "Attachments are ignoring filename when sent using ActionMailer"
I have Rails 5.0.1 using ActionMailer code as follows:

[code]

I have tried by hardcoding 'test.pdf' also. I have tried replace flilename: with remoteName inside the hash (as I see th PHP plugin uses remoteName).

No matter what I try the filename does not appear in the JSON in the mailgun logs.

I can however see it in the Rails log. For example, here is the log when I tried using remotename:

[

[2017-02-21 23:06] pirogoeth commented on #82
@rmcsharry I'm assuming this is with the new Railgun code / version 1.1.4 of the gem?

[2017-02-23 12:40] rmcsharry commented on #82
Yes - mailgun-ruby (1.1.4)

[2017-02-23 17:50] pirogoeth commented on #82
@rmcsharry I will look in to this, it very well could be an issue with Railgun. I'll let you know what I find :)

[2017-02-24 21:39] pirogoeth commented on #82
@rmcsharry I think I found the issue. Stand by for a PR.

[2017-02-25 14:49] rmcsharry commented on #82
@pirogoeth Awesome, thanks for the quick fix. I just tested it and it works! :)

[2017-02-25 14:57] pirogoeth commented on #82
@rmcsharry Awesome! I'll cut an official release on Monday :)

[2017-03-07 17:08] rmcsharry commented on #82
@pirogoeth This branch I tested was labelled as version 1.1.5. But now that you have merged it, the version of master branch did not change, it is still 1.1.4 - was that the intention?

[2017-03-07 18:25] pirogoeth commented on #82
@rmcsharry It seems that 1.1.5 has been released to Rubygems and 1.1.5 is in master (tagged as v1.1.5)..

[2017-03-07 18:44] rmcsharry commented on #82
Ok thanks I just removed it from my project and bundle installed again, now it shows up as 1.1.5. Thanks for confirming!

[2017-03-07 18:44] #82 closed

[2017-03-07 20:46] pirogoeth commented on #82
Of course!

[2017-03-09 02:01] rgraff opened #85 "Mailgun::Suppressions"
Is there any reason 'mailgun/suppressions' is not loaded? I noticed there's also no docs for it but the code exists and works if I require it in myself.

[2017-03-09 19:19] pirogoeth commented on #85
@rgraff Sorry about that, haven't gotten around to writing the docs yet! I'll make sure to get that out in a few days. I'll also add a method somewhere to return a prepared Suppressions instance.

[2017-03-16 14:57] eebs opened #86 "Including 'mailgun-ruby' causes action_mailer configs in an initializer to not be used"
Hello, I have encountered an odd scenario where I am unable to set action_mailer configuration options if I include the `mailgun-ruby` gem.

I have a Rails 4.2.7.1 app, where I configure ActionMailer in an initializer. Some of the options I set are the `default_url_options` and `asset_host`, so that images in our emails have an absolute URL rather than a relative one. Without requiring `mailgun-ru

[2017-03-16 15:05] pirogoeth commented on #86
Hey there! It looks like this is happening because requiring `mailgun-ruby` in turn requires `railgun` when Rails is defined. The solution should be simple - remove the `railgun` require line from the `mailgun-ruby` require hook. I'll take care of this today, thanks for the report :)

[2017-03-16 15:06] eebs commented on #86
I'm not sure that's really what you want to do. I think requiring Railgun when Rails is defined makes sense. I'm more interested in why adding a delivery method prevents subsequent configuration from being used.

[2017-03-16 19:09] pirogoeth commented on #86
@eebs I am not entirely sure why the railtie is causing this issue. I will try to dig deeper in to it today.

[2017-03-17 15:51] eebs commented on #86
Thanks. I'll also try and narrow things down from my end. I don't think I'm doing anything non-standard, but I'll try and create a simpler test case.

[2017-03-31 12:05] bbnnt opened #87 "Mailgun::Error (Too many recipients, max is 1000):"
Hello;

i'm completely stuck with the following  error `Mailgun::Error (Too many recipients, max is 1000)`

I'm using the following piece of code to deliver email in batch :

[code]

(i might be missing some pieces but it was working before correctly — before we reached 1000 total recipients). Parameters contains an array of email adresses, which has been limited to 500. I don't get why I till get

[2017-03-31 12:07] #87 closed

[2017-04-05 16:01] subdigital commented on #86
I ran into this issue as well. I worked around it by moving the config to `config.action_mailer.mailgun_settings`.

[2017-04-05 19:44] Lubmes opened #89 "Better documentation wanted"
How would one go about using a txt.erb template file for building up a message dynamically?
Attachments in the message_params hash?

Why not a proper list or readme for all these things? Most certainly the basics. Now the only thing online that adds some clarification is a message on mailgun's blog from 2014 and a very short readme?!
I got stuff working somewhat, but I thought the goal of an API s

[2017-04-05 20:12] lukebooth commented on #89
I think typically if you can't find what you're looking for in the README, then programmers will go into the code to find their answers. This is open source anyway, so you can see everything and how it works. Specifically look in the tests, there are a lot of them for this gem and you can probably find all the examples you need there.

[Example of building a message not from parameters](https://gi

[2017-04-11 14:44] rsov commented on #89
Few lines of tutorial how to send html emails would be appreciated. (From stand alone gem, not rails plugins)

[2017-04-11 20:59] pirogoeth commented on #89
@rsov @Lubmes does this document help? https://github.com/mailgun/mailgun-ruby/blob/master/docs/Messages.md

For some reason it was not linking in the README, but I will make sure it gets in there now.

[2017-04-12 08:40] Lubmes commented on #89
Yes a lot. Otherwise there was too much ambiguity between the message params hash and message builder.

Reason why I ask this is because on this blog post http://blog.mailgun.com/the-official-mailgun-ruby-sdk-is-here/ there is a reference to a "list on GitHub" that gives a '404'.

Simply makes things easier: to find the doc you know must be there.

[2017-04-12 19:48] rsov opened #90 "Mailgun::BatchMessage doesnt replace the placeholders with recipient data."
The `Mailgun::BatchMessage` doesn't replace the placeholders in the email.

I'm trying to construct the batch message from a csv file
It works with `"%recipient.account_id%"` but not with `"%account_id%"`, even thought the documentation states that it should

[code]

Csv data example:
[code]

The `recipient_variables` puts out correct info, however i can't seem to find it in the log and the `"%acc

[2017-04-12 22:51] pirogoeth commented on #89
I have updated the README with a link to that document and fixed the links on the blog post. Thank you!

[2017-04-12 22:51] #89 closed

[2017-04-19 21:47] xinspire opened #92 "options[:reply_to] in Rails 5's Actionmailer::Base's message object doesn't get transformed"
I'm running Rails 5.0.2, and passing `options[:reply_to]` to `Actionmailer::Base.mail` generates a message object with a Reply-To header, but it doesn't actually get delivered with the reply-to header by mailgun-ruby.

I had to add
`mb.reply_to(mail[:reply_to].to_s) if mail[:reply_to].present?`
inside `build_message_object` in `Railgun::Mailer` to get it to work.

[2017-04-24 09:26] mkaito opened #93 "Consider storing deliveries in test mode"
Similar to what the [mail](https://github.com/mikel/mail#using-mail-with-testing-or-specing-libraries) gem does, for example. It's probably enough to store a copy of the message params, so one can run tests against them.

[2017-04-24 13:43] Fjan commented on #77
@pirogoeth I finally had some time to try out the fix and I can confirm the 'List-Unsubscribe' header now works correctly, thanks!

[2017-04-24 15:18] pirogoeth commented on #77
@Fjan Awesome, thanks!

[2017-05-01 13:34] ghost opened #95 "(slightly dumb question) Why adapters?"
Hello,
I am configuring my app to work with MailGun, which is awesome.
Without even thinking, I quickly googled for a `mailgun` gem, quickly installed it and everything worked straight away. I could send confirmation emails and receive them in my inbox.

I then tried without a gem (or adapter) and it worked pretty much the same way (the email went straight to the trash, actually. Not sure why) so

[2017-05-05 14:42] adamof commented on #87
@bbnnt what was the problem?

[2017-05-10 17:45] pirogoeth commented on #85
Hey @rgraff, sorry it has taken a bit - you mind looking at the docs and suppressions changes I added in #98 to see if that is sufficient? Thanks!

[2017-05-10 18:39] pirogoeth commented on #90
@rsov Sorry about that, the documentation in this repo needs to be updated. The correct way to reference recipient variables is with `%recipient.yourvar%`. You can read more in the official [Batch Sending](https://documentation.mailgun.com/user_manual.html#batch-sending) documentation.

[2017-05-10 18:44] #93 closed

[2017-05-12 22:48] pirogoeth commented on #92
This should be fixed up in #98. Feel free to re-open if the release did not fix it.

[2017-05-12 22:48] #92 closed

[2017-05-12 22:49] pirogoeth commented on #85
This should be fixed up in #98. Feel free to re-open if the release did not fix it.

[2017-05-12 22:49] #85 closed

[2017-05-12 22:49] #90 closed

[2017-05-18 21:20] KnownSubset opened #100 "Passing nil/empty bcc parameter is transformed to array with blank string"
I've integrated the client into my rails project and in some of my mailers I've a dynamic list of people to bcc and sometimes that ends up being no one. However whenever a nil/empty value is passed in for the bcc field the mailer bombs out.

How to reproduce the error.
[code]
Results in the error below since it has bcc as `bcc: [""]`
`Mailgun::CommunicationError: 400 Bad Request: 'bcc' parameter i

[2017-05-19 23:46] ryanwjackson opened #101 "rest-client version conflicts"
Can we lower the `rest-client` dependency, as it's conflicting with other gems:

[code]

[2017-05-20 18:39] ryanwjackson commented on #101
I resolved by updating all the gems mentioned.

[2017-05-20 18:39] #101 closed

[2017-05-21 00:37] pirogoeth commented on #100
Sorry about that! I will look into it and fix it up on Monday!

[2017-06-05 22:08] KnownSubset commented on #100
@pirogoeth I started to look into this myself.  An easily solvable blocker is that Rails isn't listed a dev dependency in the gemspec.  Is there any reason why and if not, is there a minimum version of Rails that should be supported? I couldn't find any reference in the repo.

[2017-06-06 03:19] pirogoeth commented on #100
@KnownSubset I didn't pin Rails into the gemspec since I packaged Railgun into the same gem. A solution would be to split Railgun into a separate repo but I do not see much benefit to that. In my [railgun-sample](https://github.com/pirogoeth/railgun-sample) application I have `rails >= 5.0.0.1` as the minimum dependency.

Any recommendations on how to handle this?

[2017-06-10 11:04] elcactus opened #104 "undefined method 'mailgun_settings=' for ActionMailer::Base:Class"
I'm consistently getting this error on server startup in an otherwise empty rails project with the following configuration:

[code]

**development.rb**
[code]

**error message**
[code]
I'm using `config.action_mailer.mailgun_settings=` as described in the gem's documentation. Not sure if this is a bug or a configuration issue.

[2017-06-11 10:59] fadynaffa3 commented on #104
Same with rails 4.2.8 and the minimum rails version needed is not mentioned in the documentation

[2017-06-11 11:20] fadynaffa3 opened #105 "Invalid delivery method"
I am getting this error after commenting out `config.action_mailer.mailgun_settings` as it was raising `undefined method `mailgun_settings=' for ActionMailer::Base:Class`

Configuration:

- Rails 4.2.8
- Ruby 2.4.1
- mailgun-ruby 1.1.6

* Error Message is Invalid delivery method mailgin

[2017-06-11 17:25] pirogoeth commented on #95
@ClaudioCarmeli realistically, both ways should work fine, but using the API adapter, you can also create various suppressions (unsubscribes, complaints, bounces) from your app and take advantage of the advanced features the Mailgun API provides.

[2017-06-11 17:26] pirogoeth commented on #105
@fadynaffa3 Could you try with Rails >= 5.0.0.1? I've got a [sample application using Railgun](https://github.com/pirogoeth/railgun-sample) that may help you set things up.

[2017-06-12 14:45] fadynaffa3 commented on #105
@pirogoeth already tried with rails 5 before and worked correctly but the issue is on rails 4.2.8 and the documentation didn't mention the supported rails version and it's confusing.
I can't update my project to rails 5 in one day to test mailgun usage with action_mailer

[2017-06-12 16:41] pirogoeth commented on #105
@fadynaffa3 I will see what I need to do to make it work with Rails 4.2.8.

[2017-06-12 16:42] fadynaffa3 commented on #105
Thanks :)

[2017-06-13 22:29] HusseinMorsy opened #107 "prevent sending multi-part mail if only html or text part is provided"
When a rails app sends only a text mail, then Railgun sends also the html part (converted from the text part).

The problem, is that all newlines are ignored, when the mail is view in an html capable mail client.

e.g. if the text part of a  mail  has two lines
[code]
then it  will be shown as one line  in a mail-client with html support.:

[code]

this [code](https://github.com/mailgun/mailgun-ru

[2017-06-16 18:57] pirogoeth commented on #107
@HusseinMorsy https://github.com/mailgun/mailgun-ruby/pull/109

[2017-06-24 16:46] btkramm opened #110 "Unexpected token at 'Mailgun Magnificent API'"
I'm trying to send emails in background using delayed_job but for some reason raises *Unexpected token at 'Mailgun Magnificent API'* error. This only happens in production environment...

[2017-06-26 21:27] nholden commented on #100
I ran into this error message as well when I tried to configure a Rails app to use the `:mailgun` ActiveMailer delivery method. It looks like [there's some code in `Railgun`](https://github.com/mailgun/mailgun-ruby/blob/master/lib/railgun/mailer.rb#L85-L88) that tried to anticipate this, but I'm not sure it's working as intended.

[code]

For a `message` that includes `{ cc: [''] }`, that blank va

[2017-06-28 04:02] abury opened #111 "Webhook create method returning false negative"
Hey guys/gals

Really enjoying the updated library! Thanks for your time building it :)

Found a small (potential) bug. I'm calling create on the webhook client and it's working (verified the webhook is created) however it's returning false without throwing any exception.

If I get time I'll look into it and submit a PR, but for now just thought I'd raise it :)

Thanks!

Aron

[2017-06-28 04:12] abury commented on #111
Checked out the code and thought I saw the reason:

[code]

According to the API docs at https://documentation.mailgun.com/en/latest/api-webhooks.html#examples the 2nd check should be

[code]

The VCR cassette is correct, but the 'webhook_spec' success is a bit misleading because it's not testing the webhook wrapper. It would be best to test the webhook spec directly, but I'm guessing this is more

[2017-06-30 02:15] pirogoeth commented on #111
Hey, thanks for the PR - I've merged it! I'll try and cut another release in a few days when I get some time to tackle some other bugs as well. Thanks a bunch!

[2017-06-30 02:15] #111 closed

[2017-06-30 02:16] pirogoeth commented on #110
@btkramm Can you give me some more information about your setup? Using Railgun or just the library portion? Version of Ruby? Possibly a usage snippet? Thanks!

[2017-06-30 02:20] pirogoeth commented on #100
@nholden Very nice catch. I'll get this into a bug fix release as soon as I can. Thanks!

[2017-06-30 23:17] btkramm commented on #110
Ruby v2.4.0
Gem: `mailgun-ruby` v1.1.6

### Application config
[code]

### Development config
[code]
### Production config
[code]

### Sending emails!
[code]

### GroupMailer.reminder_email
[code]

[2017-07-01 00:05] abury commented on #111
Thanks, @pirogoeth! If I get time I'd love to help build out more of the library as we're going to be using it more heavily at GymLeads going forward 👍

[2017-07-01 03:32] pirogoeth commented on #111
@abury That's great to hear! It would be awesome to have you on-board.

[2017-07-03 10:20] abury opened #113 "Ruby 2.0.0-0p end of life"
Hey mailgun team.

The .ruby-version is currently on 2.0.0-0p which is considered end of life. Any plans to bring this up to a more update to date version? Happy to work on it if you'd like.

Cheers,

Aron

[2017-07-03 14:54] pirogoeth commented on #113
@abury I believe that was introduced accidentally from a PR but I have no qualms about either removing or updating it.

[2017-07-11 05:36] ivko999 commented on #105
Any luck with this?

[2017-07-26 08:59] zorro2b commented on #104
Seems you need this Gem  also:
https://github.com/jorgemanrubia/mailgun_rails

[2017-07-26 09:16] fadynaffa3 commented on #104
@zorro2b This is a separate gem and it's not maintained by Mailgun themselves, but I have ended up using it alone without mailgun_ruby gem

[2017-07-27 13:55] aalbagarcia opened #116 "Incorrect message_id after sending the message via rails mailer"
Hi!

I have just installed the gem in one of our projects and it seems to work fine. However, I've noticed that I cannot get the Message-ID after sending the email. Following the documentation in the README:

[code]
The message is sent through mailgun correctly, however the last line returns the string "id" instead of the message id (i was expecting something like <20170727122117.78172394....@mydo

[2017-08-10 12:58] crk2002 opened #117 "Custom headers"
I'm using the mailgun-ruby gem to send messages through ActionMailer. I'm trying to attach custom headers so I can identify these messages in my web hooks, but the headers don't seem to go through. (When I check the mailgun logs, they aren't there, and they also aren't transmitted in the web hooks.) Here is an example of my method. Any ideas?

[code]

[2017-08-15 01:51] crk2002 commented on #117
So far it seems the only solution is to send using SMTP.

[2017-08-18 13:44] mosinski commented on #116
Same problem here:
Rails: `Rails 5.1.2`
Ruby: `ruby 2.4.1p111`

Your solution works!

[2017-09-07 18:56] ctrlaltdylan opened #120 "Better Exceptions"
I appreciate the pastebin-esque method of debugging emails, but it's cumbersome and doesn't help debug with the _exact_ error you have.

Why not have custom exceptions that the library understands and get thrown with the approriate HTTP response?

400 is used as a blanket error - can we at least parse the HTTP error messages from the API and throw a more helpful exception?

`Mailgun::Api::InvalidR

[2017-09-13 09:11] benhart commented on #117
I also ran into this (but also for sending options such as tracking).

I found this is the mailgun-ruby source (https://github.com/mailgun/mailgun-ruby/blob/master/lib/railgun/mailer.rb):
[code]

It wasn't clear to me at all how to set those attributes on the mail object given my mailers (I found the relationship between an action mailer and mail pretty obscure).

So I wrote this extension that ma

[2017-09-30 18:11] manuelmeurer opened #124 "Problems with pagination in v1.1.8"
I recently updated to v1.1.8 of this gem (from v1.1.6) and my code started to fail.
I tracked it down to the pagination that seems to be buggy.

What I'm doing is getting the "delivered" events for two of my domains:

[code]

What started happening is that not only "delivered", but ALL events were returned from the API.
When I downgraded to v1.1.6 again, the error went away.

I assume the bug is s

[2017-10-09 19:29] mccarths opened #125 "Mailer.mailgun_client incorrect return value"
In https://github.com/mailgun/mailgun-ruby/blob/master/lib/railgun/mailer.rb#L50 it should be returning `@mg_client` instead of `@mg_obj`.

[2017-10-11 13:29] youngbrioche opened #126 "Mailgun does not accept From header with display name"
Feeding Mailgun in Rails (Railgun) with a complex MIME sender string via ActionMailer's `from` setting leads to

`Mailgun::CommunicationError: 400 Bad Request: 'from' parameter is not a valid address. please check documentation (Error)`

Only plain email addresses (without sender display names encoded) work.

Steps to reproduce:

[code]

[2017-10-27 13:20] GildedHonour opened #128 "Sending an email in html"
How to send an email in html, not text, format?

[2017-10-28 14:00] manuelmeurer commented on #124
Can I do anything to help debug this further?

[2017-11-10 11:12] scottrobertson commented on #128
[code]

[2017-11-10 14:55] scottrobertson opened #129 "Set o:tracking when track_clicks/opens is called"
If tracking is disabled in domain settings, calling `track_clicks/opens` will not override those settings unless you also pass `o:tracking` too.

For example, the following overrides the setting:

[code]

This should be set automatically if either `track_clicks` or `track_opens` is called in my opinion. If not, the docs need to be updated to make this very clear.

[2017-11-15 04:23] fursich opened #130 "Cannot send pure plain/text (or plain/html) mail"
### what happens

With Mailgun-ruby (specifically speaking railgun), `Content-Type` is always set as `multipart/alternatives`, ignoring ActionMailer's default settings.

It occures even when you have only text (or html) templates in views folder with headers correctly specified as `plain/text`, which is unexpected behavior comparing with the way [ActionMailer is defined](http://guides.rubyonrails.

[2017-11-20 15:38] eebs opened #131 "Tracking API"
Hello,

I noticed the Tracking endpoints are not available in the `Mailgun::Domains` class. Would it be possible to add those endpoints? Would you accept a PR adding those endpoints?

Thanks!

[2017-11-21 01:48] pirogoeth commented on #130
@fursich Hello! Thank you for the extremely in-depth report! It would be extremely helpful if you could submit a PR for this issue.

 I believe it would be best to follow the default ActionMailer behaviours.

[2017-11-21 01:48] pirogoeth commented on #129
@scottrobertson I agree. I will attempt to get a fix in for this soon.

[2017-11-22 02:05] fursich commented on #130
Hi @pirogoeth, thanks for swift feedback!

That's making sense to me, let me submit a PR accordingly.

[2017-11-23 01:36] pirogoeth commented on #117
Hey all,
The "official" way to send custom headers on a message is by adding your headers to a hash like you see [here](https://github.com/pirogoeth/railgun-sample/blob/master/app/controllers/users_controller.rb#L105).

The same goes for options and variables.

Let me know if you have any more questions. Thanks!

[2017-11-23 02:00] holman commented on #117
Cheers, @pirogoeth. That pointed me to the right direction. :sparkles:

I think it'd be neat if this gem could use the proper ActionMailer `headers()` method and pass the headers to the `mailgun_headers` method here. Or, at least for a stopgap, put a note in the README about this (even after a search through the source this didn't pop out at me today).

Basically was a little odd to go from a "Rai

[2017-11-23 06:54] pirogoeth commented on #117
@holman Glad it got you going in the right direction!

I'll see if I can make some changes and get the more "Railsy" way of using `headers()` working :)

[2017-11-23 06:58] pirogoeth commented on #131
@eebs It is certainly possible to add those and we would absolutely accept a PR with those changes!

[2017-11-23 06:59] pirogoeth commented on #130
I will close this issue out when I cut the 1.1.9 release. :)

[2017-11-23 07:15] benhart commented on #117
Yeah, thanks @pirogoeth , seems a better approach! Look forward to seeing what you come up with.

[2017-11-23 07:19] fursich commented on #130
Great. Thanks @pirogoeth !

[2017-11-24 22:20] pirogoeth commented on #125
@mccarths I'm pushing out a fix for this in the 1.1.9 release, thanks for the report!

[2017-11-24 23:02] pirogoeth commented on #117
@benhart @holman @crk2002 I've opened a [PR](https://github.com/mailgun/mailgun-ruby/pull/133) adding support for `headers()` calls, along with docs and tests for Railgun. Y'all mind reviewing it and providing some feedback?

[2017-11-27 15:06] eebs commented on #131
Great. I'll see if I can find some time to open a PR.

[2017-11-27 15:06] #131 closed

[2017-12-07 21:02] lleger commented on #110
I have also started to see this error. The stack trace makes it seem like it’s an error parsing JSON coming back in the response. My set up is similar to @btkramm’s. Using DelayedJob via ActiveJob. This error is in sending a BatchMessage with the gem. Regular emails are not impacted.

[2017-12-07 21:31] lleger commented on #110
It seems like we forgot to set the Mailgun domain when initializing the BatchMessage object:

`message = Mailgun::BatchMessage.new(mailgun_client, ENV['MAILGUN_DOMAIN’])`

When we set that ENV var, it worked perfectly.

Might be a good opportunity for a better error message, but I don’t think we were experiencing a bug.

[2017-12-13 20:34] ryanhmaas opened #135 "Unexpected token at 'Mailgun Magnificent API'"
I'm getting the aforementioned error (specifically, "Mailgun::ParseError: 784: unexpected token at 'Mailgun Magnificent API'"). Current setup is using Sidekiq to send emails.

Stack trace seems to indicate that it's in the Mailgun response

[code]

Any thoughts? Wondering if this is related to #110

Thanks!

[2017-12-13 21:14] #135 closed

[2018-02-08 16:44] rept commented on #100
Hi, has there been a release yet where this is included?

[2018-02-09 13:05] tanya355 opened #136 "Mailgun issue with attachment with custom extensions"
I've an attachment that is uploaded by end-user which is sent to mailgun-ruby as tempfile.

**add_attachment()** method seems to need the file path to be specified with the extension. If the path to the file is specified without the extension or its an unusual extension (_.lsgfx_) then the mail is received with a corrupted attachment twice the size of the one being sent with content-type as text/p

[2018-02-14 18:25] jrosengren commented on #124
I'm seeing similar behavior in 1.1.9.

[2018-02-14 22:55] bramski commented on #104
Resolutions? Any?

[2018-02-14 23:05] bramski opened #138 "Update rubygems."
Latest in rubygems is 1.1.0.  Please update so I don't have to github.  1.1.0 is over 2 years old.

[2018-02-14 23:35] bramski commented on #125
Is this still an issue?

[2018-02-18 12:44] fadynaffa3 commented on #105
@ivko999 try this:
`ActionMailer::Base.add_delivery_method(:mailgun, Mailgun, default_options={})`

[2018-03-09 19:25] iSarCasm commented on #110
Experienced this issue when MAILGUN_DOMAIN or MAILGUN_API_KEY was not given (nil).
I would offer to add checks for this with good errors 'Missing Api key' etc.

[2018-03-20 10:21] scottrobertson commented on #124
[code]

This just loops for ever on this version too

[2018-03-20 10:28] scottrobertson commented on #124
When calling `.next` it returns the last page over and over again.

[code]

`result` is from 1 year ago,

`events.next` now returns the latest 100 events

[2018-03-20 10:28] scottrobertson commented on #124
It's also ignoring my `limit`

[2018-03-23 14:29] yoonwaiyan commented on #104
same error here, using Rails 4.2.5 with Ruby 2.3.1 . Removing require doesn't work for me.

[2018-04-04 02:14] aldrienht commented on #124
encounters the same issue in pagination :(

[2018-04-09 09:48] fursich commented on #124
Just realized the discussion going on here - I still haven't been able to dig each of the issues raised above, but as @manuelmeurer pointed out, I come to suspect the uri parser is not doing the right job (huge thanks to the detailed reports!)

My assumption is, it's ignoring query strings dubbed at the end of the page URIs each time when jumping to other pages.

Let me dig it further down and sub

[2018-04-09 12:45] fursich commented on #124
Although I wasn't able to identify the reason why it had originally worked in the past versions, but at least a quick analysis helped me understand what happened with the above cases.

## TL; DR

mailgun's event API 'forgets' parameters EACH TIME you fetch the data.

So I'd suggest to set parameters when calling `next` and `previous`, as it now [accepts arguments](https://github.com/mailgun/mailgu

[2018-04-09 12:48] fursich commented on #124
It might be a good idea, though, to add a new feature with this gem to recall event params once given, but it might add a distractive change on the Mailgun::Event's behavior. (What would you think, @pirogoeth ?)

[2018-04-09 18:50] manuelmeurer commented on #124
@fursich Thanks for digging in! In your second example where you're requesting bounces, the URL should be `...YOUR_DOMAIN/bounces` instead of `...YOUR_DOMAIN/events` though I think.

Have you contacted Mailgun about this? Seems like a bug that the response from `/events` is different from `/bounces`.

I agree that this gem should remember the params which were used on the initial get... it wouldn'

[2018-04-10 01:05] aldrienht commented on #124
@fursich Yes it works in `next` but no result when hitting `previous` a bit weird.
But I did the same thing in `previous`:

   `other_params = { limit: 1, pretty: 'yes' }`
   `# Want more results?`
   ` if params[:next].present?`
      ` @all_mails = @mg_events.next(other_params.merge({ event: 'delivered' })).to_h['items']`
   ` end`

   `# Go backwards?`
   ` if params[:previous].present?`

[2018-04-10 08:32] fursich commented on #124
@manuelmeurer
Thanks for correction! Updated my comment above.

Yes, considering the nature of this wrapper gem, I personally think it's reasonable to remember the params. Am happy to volunteer but as it involves a major changes in terms of how Event responds, I'd like to hear how this gem's committers think. (I'm just a very occasional contributor)

Haven't contacted Mailgun but would be great if

[2018-04-10 22:52] bramski commented on #138
It appears you addressed this.  Thanks for letting me know!

[2018-04-10 22:52] #138 closed

[2018-04-10 22:56] bramski opened #139 "In test mode a static ID is returned"
When running in test mode a static ID is returned:
"test-mode-mail@localhost"

This breaks my testing as I'm actually tracking the ids of the messages that come back.  Can we make this include a UUID or something?

[2018-04-11 10:26] manuelmeurer commented on #124
I opened a ticket for the Mailgun support about this and will keep you updated about their response!

[2018-04-17 15:38] manuelmeurer commented on #124
Answer from Mailgun: `I made some API calls to the the Events API and the Next URL returned appears to be working correctly.  I think this may be specifically related to the Ruby SDK.  Are you able to extract the full API call and responses that the Ruby API calls are making?`
So this seems to be a problem with the way this gem calls the API or parses/returns the `next` and `previous` URLs.

[2018-05-09 17:01] primijos opened #141 "parse_address always formats it as '' <user@host.domain> even when neither full_name, nor first, nor last variables are passed"
When using add_recipient or reply_to methods, even when the variables hash does not contain any of full_name, first or last, the message gets composed with addresses in the form ('' <user@email>) (that is, with an empty full name).

Looks like the method parse_address (called from the methods cited above) uses defined? to check if a variable full_name has been defined by some previous logic:

http

[2018-05-23 22:06] tclaus commented on #130
Need to close this?

[2018-05-25 16:55] fursich commented on #130
@tclaus
Oh yes, apparently the current version is already marked as 1.1.9.
Thanks for reminding!

[2018-05-25 16:55] #130 closed

[2018-05-25 16:58] fursich commented on #128
I think this is supposed to be fixed with #132 (refer #130 for detailed analysis #130 )

Shall we close this maybe?

[2018-05-25 18:51] tclaus commented on #130
There are a bunch of issues still unclosed?
😉

[2018-05-27 01:18] kaspergrubbe commented on #124
So this bit me in the foot with version 1.1.9, however none of the solutions seems to work.

[2018-05-28 17:08] kaspergrubbe commented on #124
I have been digging a bit deeper, it seems like the regex in `Mailgun::Events.extract_endpoint_from` is broken, https://github.com/mailgun/mailgun-ruby/blob/32f9d729321ffda475ab69c3ce310ba42ff7cb17/lib/mailgun/events/events.rb#L97-L107

If I feed it next-page-urls that the API is returning, it always returns `nil`.

[2018-05-28 18:09] kaspergrubbe commented on #124
I think I have solved the problem here: https://github.com/mailgun/mailgun-ruby/pull/142

[2018-05-31 19:28] uri opened #145 "Why can you only use the public api key for email validation"
Currently it seems that [Address#initialize](https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun/address.rb#L11) only works with the public key.

[2018-06-11 16:04] #113 closed

[2018-08-02 14:11] AJMiller opened #150 "Unsubscribe API returns Invalid JSON error"
Versions:

  Rails: 5.2
  Mailgun-Ruby: 1.1.9

Code sample:
[code]

Expected Response: `2 addresses have been added to the unsubscribes table`

Actual Response: `Invalid JSON`

Initial Code Review: It appears that [this line](https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun/suppressions.rb#L161) is expecting all hash values to be strings. When passing in tags, however, [the document

[2018-08-03 16:41] mastermoo opened #151 "Domains in EU Region not working"
Its not possible to connect to a domain, that uses the new EU region.

Looking at the code, it only works with US regions.
https://github.com/mailgun/mailgun-ruby/blob/0189a5b8042ed330e15d792fe5e039d2a937095b/lib/mailgun/client.rb#L14
The above line needs to be configurable. I believe for EU regions, the api host must be `api.eu.mailgun.net`

[2018-08-05 17:49] MichalBryxi commented on #151
For rails/ActionMailer this settings works:

[code]

[2018-09-18 00:53] n-rodriguez commented on #124
Hi there! Still not working here.

I have 140_000 events to retrieve and nothing works.

![screenshot_2018-09-18 logs list - mailgun](https://user-images.githubusercontent.com/3433835/45658097-73f12880-baed-11e8-90f1-6e0a2101303f.png)

I've tested everything (passing params to `next` or `previous` methods), hacking the lib, etc... and I'm a bit desperate to make it work.

I confirm that the lib do

[2018-09-18 00:57] n-rodriguez commented on #124
I thought this would be sufficient to retrieve all the events of that day, but no :

[code]

The [Time Range](https://documentation.mailgun.com/en/latest/api-events.html#time-range) thing is not very clear. How does it behave when you don't pass `begin` and `end`? What if I only search by subject?

[code]

[2018-09-19 08:35] SirRawlins commented on #151
@mastermoo looking to use this myself today, but looking at the source you've linked, it seems that the host is already configurable, the line you link is an initialize argument on the client.

[code]

Does that not do what you'd expect?

[2018-09-19 09:54] MichalBryxi commented on #151
Cool. Did not know about that option. Would be probably a good idea to put that in documentation. Can't find it in the repo readme.

[2018-09-24 03:40] empeje opened #152 "Options to run mailgun via Proxy"
I need a use case where my k8s where I deploy the application doesn't have direct internet connection except via proxy. And it is so bad that `mailgun-ruby` uses `rest-client` where it is only support global proxy setting if we use `Resource` class. Any idea to implement it?

[2018-10-24 10:29] mastermoo commented on #151
@SirRawlins you are right, I should have looked more carefully.

[2018-10-24 10:29] #151 closed

[2018-11-17 14:43] caleb commented on #150
Thanks for this! I was trying to figure out what I was doing wrong. I saw mention on the Mailgun documentation that the language APIs don't support multiple tags so the first thing I tried was using a single string tag with the keys `tags` and with `tag`, and of course neither works.

I'm guessing that just removing the string requirement would work.

[2018-12-20 04:22] brandonweiss opened #157 "Reply-to header is being duplicated"
Version `1.1.11` has a bug where two reply-to headers are sent to Mailgun, one is `h:reply-to` and the other is `h:Reply-To`.

This causes the email that is sent to have two reply-to headers, which when someone replies to that email in their email client, pre-populates the `to` field with two identical entries, causing two emails to be sent.

The bug seems to have been introduced in 265efffd51209b

[2018-12-20 20:47] pirogoeth commented on #157
@brandonweiss mind checking if #158 fixes your issue?

[2019-01-03 02:50] duartemvix commented on #86
I'm having something that might be related to this issue. I couldn't send e-mails using the API credentials just like instructions say so.

I was getting this after calling deliver_now on an instance of Mailer

`Railgun::ConfigurationError: Config requires `api_key` key
from /home/matt/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/mailgun-ruby-1.1.11/lib/railgun/mailer.rb:27:in `block in initiali

[2019-01-03 03:50] duartemvix commented on #110
Here's what I'm getting

![image](https://user-images.githubusercontent.com/19348306/50623108-c1a56b80-0ef9-11e9-8c62-c3765520ed15.png)

And I am calling it like this
![image](https://user-images.githubusercontent.com/19348306/50623121-ea2d6580-0ef9-11e9-8976-a6007cf335fe.png)

[2019-01-07 21:09] bjminihan commented on #86
I've attempted the above with Devise and haven't been able to get the above working. Any advice on routing Devise mail through Mailgun?

[2019-01-08 14:09] duartemvix commented on #86
I have managed to use Mailgun credentials for Devise to use them. I just had to be sure to check Devise default mailer configuration. If you configure it to what Mailer suits your needs, Devise willl use it.
![image](https://user-images.githubusercontent.com/19348306/50835558-24559780-133e-11e9-8e13-0c942241fdfb.png)

Make sure to have this in your environment(development, or production).rb
![imag

[2019-01-11 13:01] benhart commented on #157
@pirogoeth, I had this same issue with duplicate reply-to's.

I actually also noticed from our logs and complaints that some providers were rejecting the mail outright as a result - for example had `Server response: 550 Messages should have one or no Reply-To headers, not 2.`

I pointed my apps to #158 (branch sjohn/no-duplicate-headers), and can confirm that this fixes the issue. I didn't test to

[2019-01-14 07:44] benhart commented on #157
Great, thanks @pirogoeth. I took a look at #158 . Unfortunately, I don't know enough about the internals to give too informed an opinion.

But one comment is that if there are multiple headers with differently cased names, the approach means that the last value in the each loop will be the one that remains. In our case with duplicates that's completely fine, but if they were different I'm not sure

[2019-01-15 04:20] pirogoeth commented on #157
Okay, thank you @benhart! You're definitely right about differently-cased headers being a problem. As far as I knew, headers were case-insensitive, but `Mail::Message` seems to encode them separately...
[code]

I'm not sure to proceed, so I'll look into the SMTP/MIME spec and talk to my team over the next few days and see how to move forward!

[2019-01-15 05:57] benhart commented on #157
Okay, thanks @pirogoeth. Look forward to hearing any solution you find!

[2019-01-15 20:34] brandonweiss commented on #157
@pirogoeth Thanks for fixing this!

Regarding the specifics of the fix, if the values of the headers are identical you could collapse them, but if the values are different I’m not sure it’s necessarily a good idea to arbitrarily pick one of them. That could lead to some very confusing and difficult to debug outcomes. If it were me, I would raise an exception and fail to send if duplicate headers a

[2019-01-17 19:16] pirogoeth commented on #157
@brandonweiss I 100% agree, I think raising an exception on duplicates (even if we take case-insensitivity into account) is the correct thing to do. From my peek through [RFC-822](https://tools.ietf.org/html/rfc822), [Section 3.4.7](https://tools.ietf.org/html/rfc822#section-3.4.7)  says that header names are case-insensitive. Ultimately, I would have expected `Mail::Header` to collapse headers wh

[2019-01-17 22:22] brandonweiss commented on #157
@pirogoeth Hah, I used to read it ages ago, back in high school. At some point my tastes changed and I stopped reading it, but it was one of my favorites for many years. ❤️

[2019-01-22 18:31] derosm2 opened #159 "Error performing ActionMailer::DeliveryJob FrozenError (can't modify frozen Array)"
After updating to the latest release 1.1.11, we started to get the following error when we attempt to send any email:

[code]

Rails 5.2.2
Ruby 2.5.1

We are able to run 1.1.10 without any issues.

[2019-01-22 19:19] derosm2 commented on #159
Looks like the issue is because we freeze our tags (per [Rubocop](https://www.rubydoc.info/github/bbatsov/RuboCop/RuboCop/Cop/Style/MutableConstant)):
[code]

which then gets used like so:
[code]

[2019-01-24 22:50] pirogoeth commented on #157
@brandonweiss thoughts? https://github.com/mailgun/mailgun-ruby/pull/158/commits/0f538d0d172a1b1f9b6c681ee1c28bb8857b90f4

[2019-02-21 03:16] krtschmr opened #161 "how to send from different domains?"
DOCS of mailgun are saying:

yet our config is quite static

[code]

If you have a multidomain platform, say forum hosting or whatever, how to change the domain dynamically based on _who_ is sending the email?

[2019-02-28 08:05] Benjamin-Dobell commented on #105
This is Rails bug, same underlying cause as #104. Fixed by pending Rails PR https://github.com/rails/rails/pull/35419

[2019-02-28 08:05] Benjamin-Dobell commented on #104
This is Rails bug, same underlying cause as #105. Fixed by pending PR https://github.com/rails/rails/pull/35419

[2019-02-28 08:13] Benjamin-Dobell commented on #105
Should probably note there is an issue with this Gem as well, as it's causing `ActionMailer::Base` to autoload earlier than it ought to. Fixed in PR https://github.com/mailgun/mailgun-ruby/pull/162.

[2019-02-28 08:14] Benjamin-Dobell commented on #104
Should probably note there is an issue with this Gem as well, as it's causing `ActionMailer::Base` to autoload earlier than it ought to. Fixed in PR https://github.com/mailgun/mailgun-ruby/pull/162.

[2019-02-28 14:25] tatums commented on #161
Perhaps there's a better (more official) way to do this, but here is how I've achieved this in a Rails 4 app.

First, add a new delivery_method to ActionMailer.

[code]

Next, You need to specify which domain when sending your mail.

[code]

[2019-02-28 15:12] krtschmr commented on #161
actually i checked and it seems that we can do it dynamically from the `UserMailer`, just change the domain accordingly (and change it back)

[2019-04-12 16:54] wilpar commented on #157
Folks, new mailgun user here, just ran into this issue.  I try to avoid moving to non-standard branches wherever possible (as I always forget to remove them!!), so while I wait for this to be merged/resolved, is there any potential harm (other than it looking funny in my mail app) to be faced by having duplicate headers?
Thanks!

[2019-04-15 09:37] benhart commented on #157
@wilpar we found that some obscure providers were actually rejecting the mail altogether, pretty much a worst case scenario. I noted this above, we saw in our logs `Server response: 550 Messages should have one or no Reply-To headers, not 2`.

We've been pointed to this branch in our Gemfile ever since, with no issues:
`gem 'mailgun-ruby', :git => 'https://github.com/mailgun/mailgun-ruby', :branch

[2019-05-02 01:11] mtohmaz opened #164 "Allow specifying of sender email"
When using this gem instead of Rail's mailer, whenever we send an email it will set the sender as `postmaster@e.medsender.com`, which would cause emails to automatically be filtered into the spam folder in certain inboxes.

I compared the mailgun logs to see what the difference was between the mailgun client and the rail's mailer was. Here's what I found:

Mailgun client:
It would set the sender i

[2019-05-09 19:02] wilpar commented on #157
@benhart Thanks!

[2019-05-14 15:12] aprescott opened #165 "MessageBuilder#track_clicks usage is unclear"
(Using Mailgun 1.1.11.)

This may just be an issue of documentation, but it looks like [`MessageBuilder#track_clicks`](https://github.com/mailgun/mailgun-ruby/blob/v1.1.11/lib/mailgun/messages/message_builder.rb#L209-L215) has unclear usage. It accepts `track_clicks(false)`, but in my testing that doesn't seem to have an effect.

[Mailgun docs](https://documentation.mailgun.com/en/latest/user_manu

[2019-06-09 13:20] pedrofs opened #166 "Allow Mailgun template feature"
Although we can set template variables to get passed to the client:

[code]

There is no way to tell to the message to use a template id/name.

My idea is to have it something like that:

[code]

Thoughts?

[2019-06-11 13:28] psylone opened #167 "Bloating recipient_variables in Mailgun::BatchMessage"
Every time when we use [`Mailgun::BatchMessage#add_recipient`][0] method there is a check whether we have reached max recipients limit (which is 1000).

If so, [`Mailgun::BatchMessage#send_message`][1] method is called.

Inside this method there is another one [`Mailgun::BatchMessage#reset_message`][2]. This method clears some object data [including `recipient-variables`][3] key inside the message

[2019-07-08 14:56] leonelgalan commented on #161
@krtschmr, could you share with us (other users) how to change it dynamically from the Mailer. Once you do, maybe close this issue.

[2019-07-08 14:59] krtschmr commented on #161
well, hijacking SpreeCommerce

[code]

basically, you can call `Rails.application.config.action_mailer.mailgun_settings[:domain]`from anywhere you want and it's working

[2019-07-19 09:43] eric-khoury opened #171 "Domain not found"
I have a .co.uk domain, which is verified with DNS records and everything looks fine from my Mailgun account. When trying to send an email using the cURL command like the example here: https://documentation.mailgun.com/en/latest/quickstart-sending.html#send-via-api

I'm getting `404 Domain not found` back.

[code]

Does this have anything to do with the .co.uk domains being a sort of subdomain?

[2019-08-09 12:22] bulinutza commented on #157
Is there any update on this issue? It's been open since April and the bug is still occurring :-(

[2019-08-12 05:58] chrisnankervis commented on #157
We discovered this last week and are now running #158 (0f538d0d172a1b1f9b6c681ee1c28bb8857b90f4) in production without any issues.

A big thanks to @pirogoeth for putting that together 🙌

I'd really like to see it merged as well, considering deliverability is affected as @benhart has pointed out.

[2019-08-12 06:20] chrisnankervis commented on #157
I've just opened a ticket via Mailgun support, so hopefully this issue is resolved soon.

[2019-08-12 16:56] pirogoeth commented on #157
Sorry folks, #158 is merged and tagged! I appreciate all the feedback and testing you've all provided!

[2019-08-12 16:56] #157 closed

[2019-09-13 18:06] brentkearney commented on #110
I have a similar situation with Rails 5.2.2.1 and mailgun-ruby 1.1.6, but changing from .deliver_now to .deliver made no difference.

[code]

It looks like the response.body from Mailgun is blowing up JSON.parse.

[2019-11-05 13:20] DannyBen opened #176 "Strict versioning for rest-client"
Is there a reason for the strict dependency versioning?

The gemspec requires this:

[code]

which will cause any `bundle update` in a an application that has a newer `rest-client` to simply not upgrade the mailgun gem.

The only way for me to get the latest `mailgun-ruby` was to do this in my Gemfile:

[code]

which caused a downgrade of my rest-client:

[code]

Is there a reason the dependency r

[2019-11-05 23:40] mikesnare opened #177 "Does the timeout param to Client.new work?"
If you create a client with a value for the timeout param, it is passed in the options hash to the RestClient::Resource as the timeout option, but the Resource class does not appear to make use of that.  It uses read_timeout and open_timeout, but not timeout.

How would I get timeout working using the client?

[2019-11-06 00:28] mikesnare commented on #177
I think I get it.  When Request.execute is called, the options are passed in and they are used to setup the read and open timeouts.  Closing this issue.

[2019-11-06 00:28] #177 closed

[2019-11-08 19:20] birthdaycorp opened #178 "using an erb template in the message_params"
Love this gem! Is it possible to use an erb template in the `message_params`? If so - how?
[code]
[This](https://github.com/mailgun/mailgun-ruby/blob/master/docs/Messages.md) is some help. Presumably, I would do something like:

[code]

[2019-11-21 08:57] alphamarket opened #179 "cannot use europe region"
You didn't specify the `api_host` in this your [config file](https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun.rb) so we cannot configure when Europe region for our domain?

**It's always the US region!**

[2019-11-25 21:48] leewaa commented on #179
Just discovered this also! I had first thought it was to do with a domain configuration error. A quick curl confirmed my domain is working and I can send emails with MailGun. Just not with the gem as it is not possible to set the `BASE_URL`, only the domain can be set.

[2019-11-25 21:58] leewaa commented on #179
@alphamarket actually I discovered it is posssible. Just undocumented.

Check the the code here https://github.com/mailgun/mailgun-ruby/blob/9ad7112a7d41e613539476ecadd07736a2bd315d/lib/railgun/mailer.rb#L32

So in your config use:
[code]

[2019-11-26 08:13] alphamarket commented on #179
[code]
Did you test this? because if I remember correctly I have read your code and tried this before I submit the issue. This did not work.

[2019-11-26 09:49] leewaa commented on #179
Yeah, this is how I got it working for me.

[2019-11-27 10:43] johannesschirrmeister commented on #179
Thanks, this solved it for me. Would be lovely if this were added to the Readme.

[2019-11-27 10:44] leewaa commented on #179
There are some pull requests open adding documentation about this.

[2019-12-03 04:18] dkam opened #180 "Headers being deleted when sent via Rails"
Adding headers ( List-Unsubscribe and X-MyTesto ) when sending via rails are visible in the console, but don't appear in the received email.

When emailing like this:
[code]

I can see this in the console:

[code]

But they don't appear in my received email.

[2019-12-14 22:04] dewey opened #182 "Not working with latest version of mailgun-ruby gem"
Hey,

I'm trying to get this to work for a few hours now (`gem 'mailgun-ruby', '~>1.2.0'`) and I think I've tried everything. I still can't get it to work and I'm a bit confused what goes wrong. Doing it via curl works instantly and I receive the email (with the same credentials and hostnames as used with `mailgun-ruby`).

Working curl command:

[code]

responds with a :
[code]

Test script:
[code

[2020-01-09 05:05] cfaguayo commented on #178
@birthdaycorp did you find a way to resolve it? Thanks!

[2020-01-09 05:09] birthdaycorp commented on #178
@cfaguayo yes, turns out I can continue to use ActionMailer's default `mail()` syntax for sending emails. I had assumed that setting `config.action_mailer.delivery_method = :mailgun` in **environment.rb** would  make me reliant on the gem's MessageBuilder syntax, but I was wrong.

[2020-01-09 05:09] #178 closed

[2020-01-12 03:36] joshm1204 commented on #161
I tried using an interceptor to change the domain dynamically, but it does not seem to work.  My interceptor does run, and the config does change, but the old value is used when the email sends. Does anyone know why?

## lib/server_mail_interceptor

[code]
## environment/development.rb
[code]

[2020-01-13 10:08] bgmat commented on #176
Just to add to @DannyBen post,  version 1.1.10 has rest-client (~> 2.0) ... so, it works with rest-client 2.1.0, which makes it even stranger why newer versions were limited to rest-client 2.0.2

[2020-01-16 18:02] cluesque opened #183 "No timeout on network errors"
When using the mailgun gem delivering via https, sometimes (presumably in the face of network errors) the delivery never completes.

In our case, using sidekiq, this leads to depletion of our sidekiq workers (as well as the email that fails to deliver.)

Better would be to have some reasonable timeout and raise an exception.

I put up a [simple rails project](https://github.com/cluesque/mailgun-ru

[2020-01-16 20:14] scottrobertson opened #185 "Update Domain Endpoint"
There seems to be an update domain endpoint that Mailgun have not added to their docs from what i can see. An example call would be:

[code]

Happy to add this to the gem via PR.

[2020-01-17 22:22] smorris1973 commented on #171
Thanks Eric - that was it for me too!

[2020-01-31 20:58] LukasBarry commented on #150
Any word on a fix for this? Just ran into the same problem. Works great for adding bounces and complaints, but when i went to run unsubscribes i got the same error

[2020-02-12 13:09] rafaelbn opened #189 "Mailgun could have thousands of new customers thanks to Tecnativa module to integrate Odoo with Mailgun"
Hi Mailgun, @horkhe , @obukhov-sergey

Maybe you could take a look that [Odoo ERP / CRM Open Source](https://github.com/Odoo/odoo) has [4 million users around the world](https://www.odoo.com/page/about-us) and the most in USA.

Tecnativa has developed 6 years ago a module to integrate Odoo with Mailgun's Webservices.

https://github.com/OCA/social/tree/8.0/mail_tracking_mailgun
https://github.com/

[2020-02-13 12:30] n-rodriguez commented on #176
Hi there! Any news?

[2020-03-04 12:22] facundofarias commented on #166
Hello! Any update about this?

[2020-03-10 16:38] #183 closed

[2020-03-10 16:44] #176 closed

[2020-03-11 13:43] IvanSelivanov commented on #179
What is mailgun_host [here](https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun.rb)? I don't see that it is used anywhere. Wasn't it meant to be used for setting api_host?

[2020-04-20 00:27] n-rodriguez opened #193 "Publish to Rubygems"
Hi there!

Can you please upload releases 1.2.1 and 1.2.2 on https://rubygems.org/gems/mailgun-ruby ?

Thank you!

[2020-04-20 07:56] ojundt commented on #180
You'll need version 1.2.0+ for custom headers to be picked up by the mailer. This was added in #133.

[2020-04-20 15:55] mediafinger opened #194 "MIME-Version Header twice in email"
Hey 😃

we are using the mailgun-ruby gem in version 1.2.0 which already fixed the issue of some duplicated headers (In our case: "Reply-to").

https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.0

But the emails we send (with Rails 5.2.4.2 and devise 4.7.1) contain the `Mime-Version: 1.0` header twice.

---

This is an issue for us (and every other user of this Mailgun gem), as mailservers

[2020-04-21 00:12] dkam commented on #180
Thanks.  Are you able to release a new gem with that functionality?

[2020-04-21 18:17] ojundt commented on #180
Unfortunately I'm not but you're not the only one asking. See #193.

[2020-05-05 11:41] #189 closed

[2020-05-12 23:05] n-rodriguez commented on #193
Hi there! Any news?

[2020-05-13 05:37] pawlarius opened #196 "Not working for Rails 5"
Hi all, I tried to follow [this part of Readme](https://github.com/mailgun/mailgun-ruby#rails) for Rails integration.

After couple of hours, it seems nothing work. Tried debugging in the mailgun-ruby code directly, and can't find anything useful, only got `#<RestClient::Unauthorized: 401 Unauthorized>` and `Mailgun::CommunicationError (401 Unauthorized: Forbidden)`.

Even tried putting the user:p

[2020-05-14 15:50] #196 closed

[2020-05-19 07:42] arenoir commented on #193
Please publish as this is preventing me from updating some of our internal gems.  Specifically this commit 504850ef532edc9e17208516b67e992e8c252821

[2020-05-19 08:22] RemcodM commented on #194
+1: We're experiencing this issue too. So far I have seen only one mailserver that drops e-mails because of this issue, but the fact that these mailservers exists is a problem for deliverability. When possible, I would like to see this fixed.

[2020-05-29 18:19] c2ofh opened #197 "nil as bcc address raise Mailgun::CommunicationError"
Hi,

I'm trying to send emails with the api instead of smtp.
While tesing our emails if it's working with `config.action_mailer.delivery_method = :mailgun` I'm receive an error when I try to send an email with a blank bcc parameter.

In this case `customer.bcc_email` is nil.

[code]

When sending this mail, this error occures:
`Mailgun::CommunicationError: 400 Bad Request: 'bcc' parameter is not a

[2020-06-04 06:09] c2ofh commented on #197
Needed to downgrade HTTPClient Gem, to get the newest Version of the Mailgun gem...
Then it's working, but I think the requirement should be changed...

[2020-06-04 06:09] #197 closed

[2020-06-04 16:45] n-rodriguez commented on #193
Hi there! Any news?

[2020-06-05 13:56] shusugmt commented on #194
I'm also facing the issue caused by this problem that the mail with DKIM-Signature: header signed by mailgun sent to Exchange (o365) will end up being marked as `dkim=fail` by Exchange since they seems to merge duplicated `Mime-Version:` header into one before it calculates the hash of the mail, which obviously breaks the hash.

[code]

I did a quick test and found out that passing extra `h:mime-v

[2020-06-06 03:11] achadee opened #198 "Release version 1.2.2 to rubygems.org"
Hi running into a lot of rest-client conflicts and would really love 1.2.2 to be released,

using docker has issues with calling repo tags, plus it looks loads cleaner :^)

eg.
[code]

[2020-06-09 20:22] c2ofh commented on #193
Don't know why we're paying money to mailgun...

[2020-06-11 16:15] n-rodriguez commented on #193
WTF? It's a shame. We're not talking about features but about releases... There's nothing new here...

[2020-06-11 16:17] n-rodriguez commented on #193
I hate this kind of marketing bullshit answers...

[2020-06-12 17:12] c2ofh opened #199 "Inline Attachment with Action Mailer"
I was sending emails to mailgun with smtp. I had no issues.
Now I changed to API with the gem.

Some emails are containing images, which should be attached inline to the email.
When I was sending the mails with SMTP it works fine. Now the image is just broken.
In manipulate the email html before sending with Nokogiri::HTML:

[code]

The image is attached, but not shown.
![image](https://user-image

[2020-07-14 02:24] n-rodriguez commented on #198
See https://github.com/mailgun/mailgun-ruby/issues/193

[2020-07-16 09:49] c2ofh commented on #193
I also dropped a ticket. The answer was following:

[2020-07-16 12:52] n-rodriguez commented on #193
Yes... they are still deciding if a new release is a bug or a feature...

[2020-07-17 09:47] c2ofh commented on #193
The ticket was updated. Expectations are high :D

[2020-07-22 09:53] urbanrotnik commented on #110
I am experiencing
`Mailgun::ParseError (783: unexpected token at 'Mailgun Magnificent API'):`
Only in production, works ok in development

Using
`mailgun-ruby (1.1.11)`
`rails 6.0.3`

[2020-08-07 09:58] miduddin opened #200 "Custom variables must be JSON object"
Attaching custom variables using `Mailgun::MessageBuilder#variable` enforces the variable to be in JSON object format (raises error otherwise), is this behavior intended? Because the  HTTP API seems to be fine with any string (just like the example on [manual page](https://documentation.mailgun.com/en/latest/user_manual.html#attaching-data-to-messages)).

I'm trying to work with webhooks from Mail

[2020-08-11 05:54] miduddin commented on #200
I've created the PR above just in case.

[2020-08-21 09:52] Bakilidid opened #202 "Salam"

[2020-09-04 18:14] alexroitman opened #203 "Mailgun is deleting calendar/ics mime"
Im trying to send an invite with mailgun-ruby gem.
The mail has HTML content, and the ics invite:
[code]
The attachment send correctly but apparently, when i send the invitation to outlook i need to send it with the attachment, a mime string with this headers
[code]
so that, outlook can parse and show the RSVP invite.
The problem appears when mailgun send the mail.
On my console i see(perfectly):

[2020-09-28 07:39] xab3r commented on #161
The other option could be setting domain in a mailer using `delivery_method_options` param:

[code]

[2020-10-05 08:34] n-rodriguez commented on #193
Hi there! Any news? This is fantastic that we have no official answers for Mailgun team. Do you need developers? I can send you a quote if you like.

[2020-10-20 13:46] majksner opened #208 "Thread safety issue with rest-client possibly"
Hi,

I know this is not issue with the Mailgun gem itself (it's rest-client and then socksify which are dependancies), but when I try to send a newsletter to let's say 5000 people, Sidekiq gets stuck around every 25 to 50 API calls and then Sidekiq hangs for a minute or two without doing anything. I've tried to debug it and this is what Sidekiq produces with TTIN signal (based on https://github.co

[2020-10-27 01:34] BKSpurgeon commented on #193
For those of you reading wanting the latest releases, rather than using ruby gems as the source, you could simply use:

[code]

[2020-11-13 14:44] darmenise commented on #194
Same here, and this is causing the following **permanent delivery error** with a few of our clients. Please help us solve this because this issue is **damaging our business**!

[code]

[2020-11-25 04:31] BKSpurgeon commented on #193
Github actions allows for the easy automation of publishing to ruby gems, making it even easier: https://github.com/actions/starter-workflows/blob/8c0ca1f934427262760a2492caead41a84f964c4/ci/gem-push.yml

[2020-11-25 16:44] jacobjlevine commented on #193
Adding my +1 for this.

[2020-12-03 19:11] cmfarmer commented on #193
Hi all, very sorry for the lack of updates here. Not only will we be pushing the releases here in Github to https://rubygems.org/gems/mailgun-ruby, but we're also working on a new release, which I expect to be ready to go in Q1 2021.

[2020-12-03 22:00] n-rodriguez commented on #193
yeah... I bet for Q2 or Q3...

[2020-12-19 00:31] isaacmast opened #211 "Actions are not being saved to the route"
### BUG OVERVIEW

I'm experiencing a bug that's preventing my Routes in Mailgun from being created with multiple actions. I'm following the examples straight out of the docs (both the [API Reference](https://documentation.mailgun.com/en/latest/api-routes.html#examples) and the [User Manual](https://documentation.mailgun.com/en/latest/user_manual.html#routes)), but to no avail. When I send the POST

[2021-01-11 01:55] dmc2015 opened #213 "Mailgun::CommunicationError: key not found: :ciphers"
Hello,

I keep getting this error with the ruby gem.

`Mailgun::CommunicationError: key not found: :ciphers`

I am able to run this from curl:

[code]

However, it in't working with the gem.

[code]

I tried refrehing my private key in the UI and that didn't help.

[2021-01-11 04:21] dmc2015 commented on #213
It appears to stem from here:

https://github.com/rest-client/rest-client/blob/92bc04d18499eb20481ee3e3660e382fc377a430/lib/restclient/request.rb#L159

This is using a pretty old version of restclient.

[code]

`OpenSSL::SSL::SSLContext::DEFAULT_PARAMS` Does not have a `ciphers` key.

[code]

[2021-01-11 05:54] dmc2015 commented on #213
My issue was related to the guide that I had followed, the gem they used was outdated, another issue was forgetting the prefix on my domain url. Looks like it sends from my server but still doesn't show up on my mailgun account.

[2021-01-11 05:54] #213 closed

[2021-01-12 09:27] Talha5 commented on #196
@pawlarius Im having the same issue, did you get to solve it?

[2021-01-13 13:08] CrazybutSolid commented on #203
did you find a way to make it work?

[2021-01-13 13:10] alexroitman commented on #203
Change our implementation to send through SMTP

[2021-01-18 09:03] darmenise commented on #161
This is important, we need a simple and reliable way to do this. Where is the Mailgun team, please?

[2021-01-18 09:32] krtschmr commented on #161
there are 2.5 working solutions in this thread. all are reliable. do they work for you?

[2021-01-18 10:13] darmenise commented on #161
Hello @krtschmr, thank you for your concern! we need to set the sending domain the mail method. I tried @xab3r's solution, and it seemed to be working until I checked the MIME type of the sent email:

[code]
Also Mailgun log are not showing the email sent under the right domain, they do show it under the wrong one.

Ideally, we should be able to do configure multiple domains like this:

[code]

An

[2021-01-18 11:56] darmenise commented on #161
Eureka, finally we patched this gem (like this)[https://github.com/Corsidia/mailgun-ruby/pull/2/files], and now we're able to simply call:

[code]

Adding new custom domains is now as easy as adding them to Mailgun, and then setting them from `mail[:domain]`.
No need to change the config because the config domain is used as the default one.

[2021-01-21 19:10] lubosch opened #215 "Rails 6.1 deprecation warning"
this issue: https://github.com/rails/rails/issues/36546 is caused by this gem because of

[code]
https://github.com/rails/rails/issues/36546#issuecomment-763792736

and it can be fixed I guess by https://github.com/rails/rails/issues/36546#issuecomment-764865398
[code]

[2021-02-03 19:49] cgunther commented on #215
#162 is an attempt to address this.

[2021-02-10 12:39] lubosch commented on #215
official response from mailgun support:

So either don't use mailgun, this gem, fix it yourself or don't upgrade rails next few months ...

[2021-02-19 09:37] Retttro commented on #164
@mtohmaz Based on the name of the issue: you can specify default `from` email in `application_mailer.rb ` or pass a parameter `from: 'from@example.com` to the #mail method. Or do you want to use this exact email?

[2021-02-22 12:54] pavanscs commented on #82
new issues can any one please help me with this i want a attachment file that was send to the mailer has to be open in a new tab

[2021-02-23 09:33] Retttro commented on #107
Fixed in https://github.com/mailgun/mailgun-ruby/pull/132.

[2021-02-26 11:21] n-rodriguez commented on #193
almost a  year for this : https://github.com/mailgun/mailgun-ruby/commit/d21d6c385ad834e5eaa5ba8cc4a2cca0fc7ddec7

[2021-02-26 12:57] #193 closed

[2021-02-26 22:10] benkoshy commented on #193
@n-rodriguez - we can use github to pull that commit into your project rather than wait till it's punished as a ruby gem ---- we've been waiting a long time ---as you've said --- management seem indifferent to allocating the resources to do it

[2021-03-01 10:34] n-rodriguez commented on #167
Closed by https://github.com/mailgun/mailgun-ruby/pull/223/commits/35947441f4e4161ce08cfd8a0c78052cbc06cb2c

[2021-03-01 10:35] n-rodriguez commented on #198
Closed by https://github.com/mailgun/mailgun-ruby/pull/223

[2021-03-02 09:39] Retttro commented on #167
Version v1.2.3 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.3

[2021-03-02 09:39] #167 closed

[2021-03-02 09:40] Retttro commented on #159
Version v1.2.3 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/pull/221

[2021-03-02 09:40] #159 closed

[2021-03-02 09:41] Retttro commented on #141
Version v1.2.3 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/pull/222

[2021-03-02 09:41] #141 closed

[2021-03-02 09:41] Retttro commented on #165
Version v1.2.3 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/pull/219

[2021-03-02 09:41] #165 closed

[2021-03-02 09:42] Retttro commented on #136
Version v1.2.3 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/pull/216

[2021-03-02 09:42] #136 closed

[2021-03-02 09:44] Retttro commented on #150
Version v1.2.3 with the fix is released. Closing.
@LukasBarry Thanks for the PR with the fix. It is in master now.

[2021-03-02 09:44] #150 closed

[2021-03-02 09:44] n-rodriguez commented on #202
@Retttro I think you can close this one too

[2021-03-02 09:45] n-rodriguez commented on #198
ping @Retttro

[2021-03-02 09:46] Retttro commented on #202
@n-rodriguez Thank you for noticing. Closing.

[2021-03-02 09:46] #202 closed

[2021-03-02 09:47] Retttro commented on #198
Version 1.2.3 is released to RubyGems. Closing.

[2021-03-02 09:47] #198 closed

[2021-03-12 09:09] Retttro commented on #199
@c2ofh Embedding images should be done using :inline attribute:

client = Mailgun::Client.new(...)
client.send_message("your.domain",
  {
    # ...
    body_html: "Embedding <img src='cid:image.jpg'>",
    inline: File.new("image.jpg")
  }
)
Closing this issue. If you have any problems with that approach, please feel free to reopen the issue.

[2021-03-12 09:09] #199 closed

[2021-03-17 09:14] Retttro commented on #164
@mtohmaz Mailgun does not allow to specify sender specifically, only the from. We set the sender programmatically based on certain parameters. Closing the issue.

[2021-03-17 09:14] #164 closed

[2021-03-18 06:18] fkotsian commented on #185
Seconded, this comes from the Mailgun Tracking Links how-to, where they require providing a CDN like Cloudflare and then use `web_scheme=https` to allow the CDN to handle communicating to mailgun.org over HTTP: https://help.mailgun.com/hc/en-us/articles/360011566033-How-to-Enable-HTTPS-Tracking-Links

Thanks for posting!

[2021-03-25 22:51] Mbuckley0 commented on #166
Is there any update on this as it would be a nice feature to have.

[2021-03-28 12:00] oliwoodsuk commented on #161
I'd also be interested in this being merged. Good work Darmenise.
I'm surprised it wasn't already an option to be honest. Any B2B app that sends email on behalf of customers would surely be getting this requested often.

[2021-04-05 08:00] Retttro commented on #200
Version 1.2.4 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.4

[2021-04-05 08:00] #200 closed

[2021-04-05 08:01] Retttro commented on #194
Version 1.2.4 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.4

[2021-04-05 08:01] #194 closed

[2021-04-05 08:04] Retttro commented on #110
'Mailgun Magnificent API' returned as a response when the domain is invalid. Validation for the blank domain was added in 1.2.4. Closing the issue.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.4

[2021-04-05 08:04] #110 closed

[2021-04-05 08:05] Retttro commented on #86
Version 1.2.4 with the fix is released. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.4

[2021-04-05 08:05] #86 closed

[2021-04-05 08:07] Retttro commented on #203
Fixed in https://github.com/mailgun/mailgun-ruby/pull/133 and published to rubygems closing.

[2021-04-05 08:07] #203 closed

[2021-04-05 08:10] Retttro commented on #180
Fixed in https://github.com/mailgun/mailgun-ruby/pull/133 and published to rubygems, closing.

[2021-04-05 08:10] #180 closed

[2021-04-05 08:13] Retttro commented on #105
Version 1.2.4 with the fix was published to rubygems. Closing.

[2021-04-05 08:13] #105 closed

[2021-04-05 08:18] zokioki commented on #215
Looks like a fix for this was just introduced in `v1.2.4`:
https://github.com/mailgun/mailgun-ruby/blob/v1.2.4/lib/railgun/railtie.rb#L5-L8.

[2021-04-05 08:28] Retttro commented on #125
Fixed in https://github.com/mailgun/mailgun-ruby/pull/153 and published to rubygems. Closing.

[2021-04-05 08:28] #125 closed

[2021-04-05 08:30] Retttro commented on #124
Fixed in https://github.com/mailgun/mailgun-ruby/pull/142 and published to rubygems. Closing.

[2021-04-05 08:30] #124 closed

[2021-04-05 08:32] Retttro commented on #117
Fixed in https://github.com/mailgun/mailgun-ruby/pull/133 and published to rubygems. Closing.

[2021-04-05 08:32] #117 closed

[2021-04-05 08:34] Retttro commented on #116
Fixed in https://github.com/mailgun/mailgun-ruby/pull/118 and published to rubygems. Closing.

[2021-04-05 08:34] #116 closed

[2021-04-05 08:35] Retttro commented on #104
Version 1.2.4 with the fix is published to rubygems. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.4

[2021-04-05 08:35] #104 closed

[2021-04-08 13:01] #215 closed

[2021-04-10 12:25] Yenthe666 commented on #189
And 13.0: https://github.com/OCA/social/tree/13.0/mail_tracking_mailgun

[2021-04-15 10:24] #107 closed

[2021-04-19 09:34] Retttro commented on #208
@majksner Is this still an issue for you with the 1.2.4 gem version? I've tried to reproduce the issue but didn't have success. I'd suggest trying the batch message functionality if it matches your requirements.

[2021-04-19 09:50] majksner commented on #208
I cannot try it, as I switched to https://github.com/aws/aws-sdk-rails for newsletters, and I use Mailgun only for transactional emails.

[2021-04-19 11:48] peterkleinct opened #234 "string user variables include escaped double quotes"
I am experiencing a problem with user variables being sent through to Mailgun with additional escaped quote characters in the string. For example (taken from Mailgun logs):

[code]

The is causing problems because it is being sent back to me in a webhook in the same format and requires additional parsing to use correctly.  I thought this might be related to #200 , but is still occurring on 1.2.4.

[2021-05-12 17:07] zeefarmer commented on #208
Cannot reproduce

[2021-05-12 17:07] #208 closed

[2021-05-20 09:13] lonroth commented on #234
@peterkleinct To avoid this, you can use:
[code]

Hope it helps! 🙂

[2021-06-10 08:42] Retttro commented on #234
Fixed in mailgun-ruby version 1.2.5. Closing.

[2021-06-10 08:42] #234 closed

[2021-06-10 08:44] Retttro commented on #120
Fixed in mailgun-ruby version 1.2.5. Closing.

[2021-06-10 08:44] #120 closed

[2021-06-10 08:46] Retttro commented on #166
Feature added in maigun-ruby gem version 1.2.5. Closing.

[2021-06-10 08:46] #166 closed

[2021-06-10 08:47] Retttro commented on #139
UUID in test mode response added in version 1.2.5. Closing.

[2021-06-10 08:47] #139 closed

[2021-06-10 08:49] Retttro commented on #152
Feature added in version 1.2.5. Closing.

[2021-06-10 08:49] #152 closed

[2021-06-10 08:50] Retttro commented on #129
Fixed in version 1.2.5. Closing.

[2021-06-10 08:50] #129 closed

[2021-06-10 08:51] Retttro commented on #74
Tests added in version 1.2.5.

[2021-06-10 08:51] #74 closed

[2021-06-10 08:54] Retttro commented on #161
Option to specify the domain added in version 1.2.5 and released https://github.com/mailgun/mailgun-ruby/pull/242. Closing.

[2021-06-10 08:54] #161 closed

[2021-06-10 08:55] empeje commented on #152
THanks @Retttro 🎉

[2021-06-10 11:12] lonroth commented on #234
@Retttro Nice 👏

[2021-07-08 21:40] conorbr opened #243 "Using mailgun templates and passing variables?"

[2021-07-08 21:43] conorbr opened #244 "Using mailgun templates and passing variables?"
Is there any documentation for setting up my mailer to make use of the templates I have stored on Mailgun and passing variables to have them sent through the service.

Currently I can only seem to get the results I want by pasting the template html into a view and using embedded ruby.

Happy to add to the project readme :)

[2021-07-08 22:00] #243 closed

[2021-07-08 22:02] conorbr commented on #243
Looks like my issue was duplicated. Closing this one to continue discussion on the link below:
https://github.com/mailgun/mailgun-ruby/issues/244

[2021-08-07 23:37] kirqe commented on #179
This should be marked in all caps and bold instead of just a tiny comment

[2021-08-19 22:58] joshmcarthur commented on #244
Hey @conorbr, I had the same question. I found the mailer specs useful for showing how this works: https://github.com/mailgun/mailgun-ruby/blob/68e0c6f1863b7ca07904cf1b1efaec1498c64511/spec/unit/railgun/mailer_spec.rb, in particular:

* [Sending a message with a template specified](https://github.com/mailgun/mailgun-ruby/blob/68e0c6f1863b7ca07904cf1b1efaec1498c64511/spec/unit/railgun/mailer_spec.r

[2021-08-19 23:19] joshmcarthur commented on #244
I did find the block passed to `mail` was important to have ActionMailer not try and load the template from app/views though.

[2021-08-19 23:21] joshmcarthur commented on #244
Adding `body: ""` to the `mail` params works by tricking ActionMailer into thinking we don't want a Rails template rendered.

Here's the example that's working for me:

[code]

[2021-10-04 17:46] alaroia-cfa opened #248 "Distinguish between HTTP 400 and HTTP 401 with different exception types?"
Hi mailgun-ruby team,

I work on a project where our users sometimes give us invalid email addresses, so our Mailgun sending code crashes with "400 Bad Request: 'to' parameter is not a valid address. please check documentation".

At other times, for whatever reason, we get "401 Unauthorized: Forbidden - Invalid Domain or API key".

We use Sentry for tracking exceptions. I'd like to get different e

[2021-10-20 20:49] thed000d opened #249 "Multipart messages through ActionView"
I am using version 1.2.5 as the action_mailer delivery method with the https://github.com/simukappu/activity_notification gem.

I have two mail templates: `won.html.erb` and `won.ics.erb`. When sending with SMTP through Mailgun, both parts of the message are successfully sent. When sending with the https://github.com/readysteady/mailgunner gem, both parts of the message are successfully sent. When

[2021-11-09 08:30] Linuus opened #250 "Changelog"
Hi!

Where do you keep the changelog for your library? It's very hard to update without knowing what has changed.

[2021-11-10 17:45] #182 closed

[2021-11-11 17:08] zeefarmer commented on #182
+ mg_client.send_message "mail.mydomain.com", message_param
- mg_client.send_message "https://api.eu.mailgun.net/v3/mail.mydomain.com", message_params

[2021-11-11 17:09] zeefarmer commented on #126
Cannot reproduce

[2021-11-11 17:09] #126 closed

[2021-11-11 17:10] #95 closed

[2021-11-23 18:28] amandabot opened #252 "MessageBuilder Variables encoding objects as strings"
Version: 1.2.5
I'm not sure if this is related to https://github.com/mailgun/mailgun-ruby/issues/234, but the problem seems similar.

If I pass a hash or JSON string containing objects or arrays to a MessageBuilder variable, it appears to be double encoded as a string. The nested data can't be read in Mailgun because Mailgun thinks it's a string.

Code
[code]

Mailgun Logs:
[code]

If I use `curl`

[2021-12-29 20:44] jaredbeck commented on #250
+1, and I'd recommend this format: https://keepachangelog.com/en/1.0.0/

[2022-01-09 16:31] btoone commented on #244
@joshmcarthur Thanks so much for posting your info! You saved me a ton of time.

For anyone implementing this, I can confirm what @joshmcarthur posted works to send a Mailgun template. You have to be using v1.2.5. If you don't pass `body` to `#mail` then the lib will complain that you're not using a block.  I tested adding a block and using `format.text {render body: ""}` which works but just prov

[2022-03-15 18:46] nolyoi opened #253 "Use config block in Mailgun::Client"
Currently, the only thing from the config block passed to the client is the api_key. Other settings such a test_mode, domain, etc. are not populated in Mailgun::Client. Is there a specific reason we are not passing these as the defaults for Mailgun::Client?
[code]

Why not something like the following so we can override the defaults?
[code]

[2022-03-28 19:31] joeosburn opened #254 "Check for ActionMailer instead of Rails"
This https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun-ruby.rb#L2 is not a good enough way to check for the presence of `ActionMailer`.

Our app is not a Rails app and does not support ActionMailer, but `Rails` is defined because we use at least one spun-off Rails gem: https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails-html-sanitizer.rb#L6

Ideally, then, the above l

[2022-06-09 16:04] proton opened #256 "TypeError: no implicit conversion of nil into String"
We've got an error during an execution of
https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun/exceptions/exceptions.rb#L58

I guess you need to add
[code]
or

[code]

to https://github.com/mailgun/mailgun-ruby/blob/master/lib/mailgun/exceptions/exceptions.rb#L54

[2022-07-07 11:32] #252 closed

[2022-08-15 19:39] DanielKakona1 commented on #161
This issue should be reopened. All the provided solutions are not working.

[2022-08-15 21:06] DanielKakona1 opened #258 "Use multiple domains with different sending keys"
I'm working with `mailgun-ruby` but
I have an issue with sending emails from different domains.

I saw there was an issue already opened for that and it was closed but all the provided solutions are not working for me. (https://github.com/mailgun/mailgun-ruby/issues/161)

I have something like this already in my  config file
[code]

Now If I want to override this setting with another domain, how t

[2022-08-15 21:58] krtschmr commented on #258
the linked thread did close with a PR which included a commit

https://github.com/mailgun/mailgun-ruby/pull/242/files#diff-58dfc2edb1d6b2b8b29513f8835de2f9ee084becd5e31484958dbe8b3f4a8b5cR50-R54

have you seen that?

[2022-08-16 07:01] DanielKakona1 commented on #258
Yeah, I did but this doesn't work with a domain sending key.  I just can't pass the domain like this:
[code]
This gives me an error about the `invalid domain or API Key`.

So I tried overriding the config on the mailer with something like this:

[code]
however, this doesn't override the domain set on the config file.

[2022-08-16 08:03] benhart commented on #258
I think the problem here is that we're using domain sending keys, not the single account api key. Is there a reasonably simple way to use multiple domains with different sending keys?

[2022-09-30 11:05] Retttro commented on #179
[Readme.md](http://readme.md/) mentions the EU region. Closing.

[2022-09-30 11:05] #179 closed

[2022-10-09 14:36] Retttro commented on #249
@thed000d Issue does not reproduce. Does it still reproduce for you? If yes, could you please provide more details? Thanks!

[2022-11-03 15:55] zeefarmer commented on #249
Cannot reproduce

[2022-11-03 15:55] #249 closed

[2022-11-20 10:55] Retttro commented on #254
Version 1.2.6 with the fix is released now. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.6

[2022-11-20 10:55] #254 closed

[2022-11-20 10:56] Retttro commented on #256
Version 1.2.6 with the fix is released now. Closing.
https://github.com/mailgun/mailgun-ruby/releases/tag/v1.2.6

[2022-11-20 10:56] #256 closed